{%- unless style_btn -%}
  {%-assign style_btn = ''-%}
{%- endunless -%}
{%- unless label -%}
  {%-assign label = 'products.product.add_to_cart' | t -%}
{%- endunless -%}
{%- if preOrder -%}
  <button type="button" data-submit class="{{style_btn}} btn-onclick add_to_cart_button add-item-jx" data-vrid="{{product.selected_or_first_available_variant.id}}" data-pid="{{product.id}}"><span class="add-item-jx-text">{{'products.product.pre_order' | t}}</span></button>
{%- elsif sold_out == false -%}
  <button type="button" data-submit class="{{style_btn}} btn-onclick add_to_cart_button add-item-jx" data-vrid="{{product.selected_or_first_available_variant.id}}" data-pid="{{product.id}}"><span class="add-item-jx-text">{{label}}</span></button>
{%- else -%}
  <button type="button" class="{{style_btn}} add_to_cart_button add-item-jx sold_out disabled"><span class="add-item-jx-text">{{'products.product.sold_out' | t}}</span></button>
{%- endif -%}