{%- liquid
  assign size_guide = false
  if product.metafields.meta.size_guide
    assign size_guide = true
  elsif collection.handle 
    for collection in product.collections
      assign coll_szie_guide = collection.title | append: " - Size Guide" | handleize
      if pages[coll_szie_guide] != empty
        assign size_guide = true
        break
      endif
    endfor
  endif
  if settings.size_guide != blank and size_guide == false
  assign size_guide = true
  endif

  unless section_id
    assign section_id = section.id
  endunless
-%}

{%- capture productOptionStyle -%}
  {%- for i in (1..5) -%}
  {%-assign op_swatch = 'op_swatch' | append: i -%}
  {%-assign op_style = 'option_style_' | append: i -%}
  {%-assign color_watched = 'is_use' | append: i -%}
  {%-assign op_attach = 'op' | append: i | append: '_attach'-%}
  {%-assign op_pre_select = 'op' | append: i | append: '_pre_select'-%}
  {%-assign op_size = 'op' | append: i | append: '_size'-%}
  "name": "{{settings[op_swatch] | downcase}}",{{settings[op_style]}},{{settings[color_watched]}},{{settings[op_attach]}},{{settings[op_pre_select]}},{{settings[op_size]}}{%-unless forloop.last-%},{%-endunless-%}
  {%- endfor -%}
{%- endcapture -%}
{%- unless product.has_only_default_variant -%}
  {%- for option in product.options_with_values -%}
    {%- assign idx0 = forloop.index0 -%}
    {%- assign option_name = option.name | downcase -%}
    {%- assign checkOptStyle = '"name": "' | append: option_name | append: '",' -%}
    {%- if productOptionStyle contains checkOptStyle -%}
      {%- assign styleOptions = productOptionStyle | split: checkOptStyle | last | split: '}' | first | split: ',' -%}
    {%- else -%}
      {%- assign styleOptions = 'combobox,false,false,false,20' | split: ',' -%}
    {%- endif -%}
    {%- assign toolTip = false -%}
    {%- if styleOptions[0] == "not_select circle" or styleOptions[0] == "not_select square" -%}
      {%- assign toolTip = true -%}
    {%- endif -%}
   
    <div class="selector-wrapper --js-selector product-form__item{%if option.values.size == 1%} one-option{%endif%} opt__{{ option.name | handle}}{%if styleOptions[3] == 'true'%} op_pre_select{%endif%} animated{% if forloop.last %} opt__last{% endif %}" data-n-opt="{{ option.name }}" data-js-opt="{{ idx0 }}--{{ section_id }}"{%if styleOptions[3] == 'true'%} data-op-pre-select="true"{%endif%}>
      <label for="SglOptSelector-{{ idx0 }}--{{ section_id }}" class="{% unless settings.use_name_opt %} d-none{% endunless %}{%if settings.use_name_opt_1_line%} w-100{%endif%}">{{ option.name }}<span>: </span></label>
      <div class="selector-attrs position-relative">
        <div class="fake_select {{styleOptions[0]}}{%if styleOptions[0] == 'combobox'%} d-none{%endif%}" data-name-option="{{ option.name }}"{%if styleOptions[0] != 'combobox'%} style="--width:{{styleOptions[4]}}px;--height:{{styleOptions[4]}}px"{% endif %}> 
          <label data-change-label="{{ idx0 }}--{{ section_id }}">{{--}}
            <span class="js-change-label">{%if styleOptions[3] == 'true'%}{%if settings.use_name_opt%}{{'products.product.label_select_opt' | t}}{%else%}{{'products.product.label_select' | t}}{{ option_name }}{%endif%}{%else%}{{ option.selected_value }}{%endif%}</span><span class="ico"></span>{{--}}
          </label>
          <ul id="kt_{{ option.name | handleize }}{{product.id}}" class="list-inline m-0">
            {%- for value in option.values -%}
            <li class="--js-opt _{{ value | handleize}}{%if styleOptions[1] == 'true'%} color_sw{%else%} sw{%endif%}{% if option.selected_value == value and styleOptions[3] != 'true' %} selected{% endif %}" data-value="{{ value | escape}}">
              {%-if styleOptions[0] == 'not_select radio_button' or styleOptions[0] == 'not_select radio_button inline'-%}<span class="check_btn"></span>{%-endif-%}
              {%-if styleOptions[1] == 'true'-%}<span class="swatch{%if settings.swatch_style == 'image_variant'%} bg-contain{%endif%}" data-color="{{ value | handleize}}"{%if toolTip%} data-toggle="tooltip" title="{{ value | escape }}"{% endif %}></span>{%-endif-%}
              <span class="option_title">{{ value }}{%if idx0 == 0%}<span class="kt_price_lable"></span>{%endif%}<span class="kt_flash_lable"></span></span>
            </li>
            {%-endfor -%}
          </ul>
        </div>
        {%-if styleOptions[0] == 'combobox'-%}
        <select class="form-select --js-select" data-js-opt="{{ forloop.index0 }}--{{ section_id }}">
          {%if settings.use_name_opt%}<option value="" selected="selected">{{'products.product.label_select_opt' | t}}</option>{%-endif-%}
          {%- for value in option.values -%}
            <option value="{{ value | escape }}">{{ value }}</option>
          {%- endfor -%}
        </select>
        {%-endif-%}
        {%-if styleOptions[2] == 'true' and size_guide -%}
          <div class="sizeGuide_attach">
            <button type="button" class="btn btn-icon btn-link"{%if template.suffix == 'quick-view'%} data-bs-target="#sizeModalqv" data-bs-toggle="modal" data-bs-dismiss="modal"{%else%} data-bs-target="#sizeModal" data-bs-toggle="modal"{%endif%}>
              <i class="d-icon-th-list m-0 pe-1"></i>{{'products.product.size_chart' | t}}
            </button>
          </div>
        {%-endif-%}
        {%- if forloop.last and styleOptions[3] == 'true' -%}
          <a href="#" class="product-variation-clean variation-clean--{{ section_id }}" style="display: none">{{"products.product.clear_all" | t}}</a>
        {%- endif -%}
      </div>
      {%-if styleOptions[0] == 'combobox with_out_variant_image'-%}
      <div class="w-100">
        <ul class="fake_select variant_image list-inline row mb-0">
          {%- for value in option.values -%}
            <li class="--js-opt _{{ value | handleize}}{% if option.selected_value == value and styleOptions[3] != 'true' %} selected{% endif %} col-3 col-md-2" data-value="{{ value | escape}}">
              <div class="aspectRatio" style="padding-bottom: 100%">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{ value | escape }}">
              </div>
            </li>
            {%-endfor -%}
        </ul>
      </div>
      {%-endif-%}
    </div>
  {%- endfor -%}
{%- endunless -%}