{%-if settings.social_twitter_link != blank
      or settings.social_facebook_link != blank
      or settings.social_pinterest_link != blank
      or settings.social_instagram_link != blank
      or settings.social_tumblr_link != blank
      or settings.social_snapchat_link != blank
      or settings.social_youtube_link != blank
      or settings.social_vimeo_link != blank
      or settings.social_vk_link != blank
-%}
{%- assign social_icons = true -%}
{%-endif-%}
{%-if social_icons-%}
<ul class="socials list-inline">
  {%-if settings.social_tiktok_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-facebook fa-brands fa-tiktok" target="_blank" rel="noreferrer" href="{{ settings.social_tiktok_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tiktok' }}"></a>{{--}}
  </li>
  {%-endif-%}
  {%-if settings.social_facebook_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-facebook facbook-icon" target="_blank" rel="noreferrer" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}"></a>{{--}}
  </li>
  {%-endif-%}
  {%-if settings.social_twitter_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-twitter fab fa-twitter" target="_blank" rel="noreferrer" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}"></a>{{--}}
  </li>
  {%-endif-%}
  {%-if settings.social_instagram_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-instagram insta-icon" href="{{ settings.social_instagram_link | escape }}" target="_blank" rel="noreferrer" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}"></a>{{--}}
  </li>
  {%-endif-%}
  {%-if settings.social_youtube_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-youtube fab fa-youtube" href="{{ settings.social_youtube_link | escape }}" target="_blank" rel="noreferrer" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Youtube' }}"></a>{{--}}
  </li>
  {%-endif-%}
  {%-if settings.social_pinterest_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-pinterest fab fa-pinterest-p" target="_blank" rel="noreferrer" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}"></a>{{--}}
  </li>
  {%-endif-%}
  {%-if settings.social_vk_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-vk fab fa-vk" href="{{ settings.social_vk_link | escape }}" target="_blank" rel="noreferrer" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'VK' }}"></a>{{--}}
  </li>    
  {%-endif-%}
  {%-if settings.social_linkedin_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-linkedin fab fa-linkedin-in" href="{{ settings.social_linkedin_link | escape }}" target="_blank" rel="noreferrer" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Linkedin' }}"></a>{{--}}
  </li>    
  {%-endif-%}
  {%-if settings.social_tumblr_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-tumblr fab fa-tumblr" href="{{ settings.social_tumblr_link | escape }}" target="_blank" rel="noreferrer" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}"></a>{{--}}
  </li>
  {%-endif-%}
  {%-if settings.social_snapchat_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-snapchat fab fa-snapchat-ghost" href="{{ settings.social_snapchat_link | escape }}" target="_blank" rel="noreferrer" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}"></a>{{--}}
  </li>
  {%-endif-%}
  {%-if settings.social_vimeo_link != blank-%}
  <li class="list-inline-item">{{--}}
    <a class="social-icon social-vimeo fab fa-vimeo-v" href="{{ settings.social_vimeo_link | escape }}" target="_blank" rel="noreferrer" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}"></a>{{--}}
  </li>
  {%-endif-%}
</ul>
{%-endif-%}