<!-- product-list-item-mini.liquid -->
{%- liquid
assign compare_at_price = product.compare_at_price 
assign price = product.price 
assign price_varies = product.price_varies 
assign available = product.available 
if st_card[0] == "true"
  unless product.tags contains 'notnew'
    assign on_new = false
    assign now_date_int = "now" | date: "%j" | plus: 0
    assign now_year_int = "now" | date: '%Y' | plus: 0
    assign pub_date_int = product.created_at | date: "%j" | plus: 0
    assign pub_year_int = product.created_at | date: '%Y' | plus: 0
    if now_year_int == pub_year_int
      assign new_day_int = st_card[1] | default: 30 | plus: 0
      assign check_new = now_date_int | minus: pub_date_int
      if check_new >= 0 and check_new <= new_day_int
        assign on_new = true
      endif
    else
      assign new_day_int = st_card[1] | default: 30 | pub_date_int
      assign check_new = now_date_int | plus: 366
      if check_new <= new_day_int
        assign on_new = true
      endif
    endif
  endunless
endif
assign on_sale = false
if compare_at_price > price 
  assign on_sale = true
endif
assign sold_out = true
assign preOrder = false
unless available == false
  assign sold_out = false
endunless
if product.selected_or_first_available_variant.inventory_quantity <= 0 and product.selected_or_first_available_variant.inventory_policy != 'deny'
  assign preOrder = true 
endif
unless grid_layout
  assign grid_layout = st_card[3]
endunless
unless masonry
  assign masonry = false
  if st_card[7] == 'normal'
    assign masonry = 'none'
  endif
endunless
unless block_id
  assign block_id = block.id
endunless
unless section_id
  assign section_id = section.id
endunless
-%}
<div class=" product-inner{% unless product.has_only_default_variant or st_card[13] == 'true' and product.variants.size == 1 or st_card[4] == 'false' %} ktlz{%endunless%}" data-href="{{product.handle}}" data-ktlz="onLoad">
  <form method="post" action="{{ routes.cart_add_url }}" id="ProductSection-{{product.id}}-{{block_id}}-{{section_id}}" class="form form-ajax-- ktlz-form-pid-{{product.id}} d-flex align-items-center" data-p-id="{{product.id}}" data-section-id="-{{product.id}}-{{block_id}}-{{section_id}}" data-options="{{product.options.size}}" data-pr-vrs="">
		<div class="product-thumb images">
      {%-comment-%}{%- render 'product-item-flashs', product: product, st_card: st_card, on_new: on_new, on_sale: on_sale, sold_out: sold_out, preOrder: preOrder -%}{%-endcomment-%}
      {%- capture ar_i-%}--ar_i:{{product.featured_image.height | times: 1.00 | divided_by: product.featured_image.width | times: 100.00000000}}%;{%-endcapture-%}
      <a class="aspectRatio" href="{{product.url | within: collection}}" title="{{product.title | escape}}" aria-label="{{product.title | escape}}" style="{{ar_i | replace:'--ar_i:NaN%',''}}">
        {%- if product.featured_image -%}
        <div class="primary-thumb" data-ogr="{{ product.featured_image | img_url: 'master' }}">
          {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img width="{{product.featured_image.width}}" height="{{product.featured_image.height}}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ img_url }}" data-widths="[240, 360]" data-aspectratio="{{ product.featured_image.aspect_ratio }}" data-sizes="auto" alt="{{ product.featured_image.alt | escape }}">
        </div>
        {%- endif -%}
      </a>
	  </div>
	  <div class="product-info">
	    <h2 class="product-name"><a href="{{product.url | within: collection}}" tabindex="0">{{product.title}}</a></h2>
      {%render 'product-item-prices', product: product, on_sale: on_sale, price_varies: price_varies-%}
      {%-if st_card[11] == 'true'-%}{%-render 'rating_star', product: product, type: 'collection'-%}{%-endif-%}
      {% if st_card[12] == 'true' %}
      <div class="add-to-cart">
        {%- if product.has_only_default_variant -%}
          {% render 'kt_button_no_variant', product: product, preOrder: preOrder, sold_out: sold_out, style_btn: 'btn btn-link' %}
        {%- else -%}
          {% render 'kt_button_has_variant', product: product, preOrder: preOrder, sold_out: sold_out, style_btn: 'btn btn-link' %}
        {%- endif -%}
      </div>
      {% endif %}
	  </div>
	</form>
</div>