<!-- product-list-item.liquid -->
{%- liquid
assign compare_at_price = product.compare_at_price 
assign price = product.price 
assign price_varies = product.price_varies 
assign available = product.available 
if settings.use_new_label
  unless product.tags contains 'notnew'
    assign on_new = false
    assign now_date_int = "now" | date: "%j" | plus: 0
    assign now_year_int = "now" | date: '%Y' | plus: 0
    assign pub_date_int = product.created_at | date: "%j" | plus: 0
    assign pub_year_int = product.created_at | date: '%Y' | plus: 0
    if now_year_int == pub_year_int
      assign new_day_int = settings.new_day | default: 30 | plus: 0
      assign check_new = now_date_int | minus: pub_date_int
      if check_new >= 0 and check_new <= new_day_int
        assign on_new = true
      endif
    else
      assign new_day_int = settings.new_day | default: 30 | pub_date_int
      assign check_new = now_date_int | plus: 366
      if check_new <= new_day_int
        assign on_new = true
      endif
    endif
  endunless
endif
assign on_sale = false
if compare_at_price > price
  assign on_sale = true
endif
assign sold_out = true
assign preOrder = false
assign sold_out_text = 'products.product.sold_out' | t
unless available == false
  assign sold_out = false
endunless
if product.selected_or_first_available_variant.inventory_quantity <= 0 and product.selected_or_first_available_variant.inventory_policy != 'deny'
  assign preOrder = true
endif
-%}
<div class="product product-inner{% unless product.has_only_default_variant or settings.qs_hide_only_1_opt and product.variants.size == 1 %} ktlz{%endunless%}" data-href="{{product.handle}}">
	<form method="post" action="{{ routes.cart_add_url }}" id="ProductSection-{{product.id}}-{{block_id}}" class="form form-ajax-- ktlz-form-pid-{{product.id}}" data-p-id="{{product.id}}" data-section-id="-{{product.id}}-{{block_id}}" data-options="{{product.options.size}}" data-pr-vrs="">
    <div class="product-thumb images">
      {%- render 'product-item-flashs', product: product, st_card: st_card, on_new: on_new, on_sale: on_sale, sold_out: sold_out -%}
      {%- capture ar_i-%}--ar_i:{{product.featured_image.height | times: 1.00 | divided_by: product.featured_image.width | times: 100.00000000}}%;{%-endcapture-%}
      <a class="aspectRatio{%if product.title != blank %} lazyload{%endif%}" data-include="{{product.url | split:'?' | first}}?view=imgscard" href="{{product.url | within: collection}}" title="{{product.title | escape}}" aria-label="{{product.title | escape}}" style="{{ar_i | replace:'--ar_i:NaN%',''}}"></a>
    </div>
    <div class="product-body" grid-info="">
      {%- if settings.use_vendor_grid -%}
      <div class="product-vendor">
        <a href="{{routes.collections_url}}/vendors?q={{product.vendor}}"><span>{{product.vendor}}</span></a>
      </div>
      {%- endif -%}
      <h2 class="product-name"><a href="{{product.url | within: collection}}" tabindex="0">{{product.title}}</a></h2>
      {%-render 'product-item-prices', product: product, on_sale: on_sale, price_varies: price_varies-%}
      {%-if st_card[11] == 'true'-%}{%-render 'rating_star', product: product, type: 'collection'-%}{%-endif-%}
      {%- if product.metafields.meta.short_description -%}
        <div class="product-excerpt">
          {{- product.metafields.meta.short_description | html -}}
        </div>
      {%-else-%}
        <div class="product-excerpt">
          {{- product.description | strip_html | truncatewords: 20 -}}
        </div>
      {%-endif-%}
      {%-if product.has_only_default_variant == false-%}
        {%-unless settings.qs_hide_only_1_opt and product.variants.size == 1-%}
        <div class="product-variants-wrapper">
          <div class="prd-variants">
            {%- for i in (1..product.options.size) -%}
              <div class="prd--option{{i}} animated-background"></div>
            {%- endfor -%} 
          </div>
        </div>
        {%-endunless-%}
      {%-endif-%}
      <div class="entry-buttons">
        {%- if settings.use_add_to_cart_btn -%}
        <div class="add-to-cart">
          {%- if product.has_only_default_variant -%}
            {%- render 'kt_button_no_variant', product: product, preOrder: preOrder, sold_out: sold_out, style_btn: 'btn btn-dark btn-outline d-icon-bag text-uppercase kt-button' -%}
          {%- else -%}
            {%- render 'kt_button_has_variant', product: product, preOrder: preOrder, sold_out: sold_out, style_btn: 'btn btn-dark btn-outline d-icon-bag text-uppercase kt-button' -%}
          {%- endif -%}
        </div>
        {%- endif -%}
      {%- if settings.use_wishlist -%}
        <button type="button" class="btn kt-button wishlist kt-wishlist d-icon-heart" data-action="add" data-handle="{{product.handle}}" data-id="{{product.id}}"></button>
      {%- endif -%}
      {%- if settings.use_quickview-%}
        <button type="button" class="btn quick-view d-icon-search" data-view="{{product.url}}" data-target="#md_qvModal"></button>
      {%- endif -%}
      {%- if settings.use_compare-%}
        <button type="button" class="btn compare d-icon-compare" data-pid="{{product.id}}"></button>
      {%- endif -%}
      </div>
    </div>
	</form>
</div>