<!doctype html>
{%- liquid
  assign dir_body = settings.dir_body
  assign map_rtl = 'ar,dv,ha,he,ku,fa,ur,ps,yi' | split: ','
  if dir_body == 'ltr'
    assign dir_css = ''
  else
    assign dir_css = '-rtl'
  endif
  if map_rtl contains shop.locale
    assign dir_body = 'rtl'
    assign dir_css = '-rtl'
  endif
-%}
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="theme-color" content="{{ settings.color_button }}">
  {%- render 'meta-tags', dir_body: dir_body -%}
  <link href="{{'bootstrap.min.css' | asset_url}}" rel="stylesheet" type="text/css" media="all">
  <link href="{{'style-speed.css' | asset_url}}" rel="stylesheet" type="text/css" media="all">
  {%- assign style_css = 'style' | append: dir_css | append: '.css' -%}
  {{- style_css | asset_url | stylesheet_tag -}}
  {%- assign theme_css = 'theme' | append: dir_css | append: '.css' -%}
  {{- theme_css | asset_url | stylesheet_tag -}}
  {{- settings.custom_html_head | html -}}
  {{'password.css' | asset_url | stylesheet_tag}}
  <link id="custom-css" href="{{'kiti-var.css' | asset_url}}" rel="stylesheet" type="text/css" media="all">
  {{ content_for_header }}
  {%- render 'theme_header_js' -%}
</head>

<body class="template-password">
  <div class="soon">
    {{ content_for_layout }}
  </div>
  <div class="content_for_extension">    
    <section id="LoginPasswordModal" class="modal fade" aria-hidden="false" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded">
          <button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>          
          <div class="text-center" style="padding: 6.25rem 15px;">
            <h2 class="password__form-heading _mb-3 h4" id="password-modal-heading">{{ 'general.password_page.login_form_heading' | t }}</h2>
              {%- form 'storefront_password' -%}
                {%- if form.errors -%}
                  <div class="password-form-message form-message form-message--error">
                    {{ form.errors | default_errors }}
                  </div>
                  <script>
                    $('#LoginPasswordModal').modal('show');
                  </script>
                {%- endif -%}
                <label for="Password" class="d-none">{{ 'general.password_page.login_form_password_label' | t }}</label>
                <div class="input-group _mb-3i pl-3 pr-3" style="max-width: 550px;margin: 0 auto;">
                  <input type="password" name="password" id="Password" class="form-control bg-transparent mb-0" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                  <button class="btn btn-sm btn-primary btn-rounded" type="submit">{{ 'general.password_page.login_form_submit' | t }}</button>
                </div>
              {%- endform -%}
            <p>{{ 'general.password_page.admin_link_html' | t }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>  
  <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme_footer_js.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>
  {%- render 'googleRich' -%}
</body>
</html>
