<!-- collection-template.liquid --> 
{%- liquid
  capture st_card
    echo settings.use_new_label
    echo '|'
    echo settings.new_day
    echo '|'
    echo settings.use_sale_label
    echo '|'
    echo settings.product_grid_layout
    echo '|'
    echo settings.qs_show_vars_list
    echo '|'
    echo settings.use_quickview
    echo '|'
    echo settings.use_wishlist
    echo '|'
    echo settings.use_compare
    echo '|'
    echo settings.use_countdown_grid
    echo '|'
    echo settings.countdown_grid_style
    echo '|'
    echo settings.use_vendor_grid
    echo '|'
    echo settings.use_review_grid
    echo '|'
    echo settings.use_add_to_cart_btn
    echo '|'
    echo settings.qs_hide_only_1_opt
  endcapture
  assign st_card = st_card | split: '|'  
  
  assign grid_ly = settings.grid_layout | default: st_card[3]

  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}
{%-liquid  
  assign limit = section.settings.limit
  case section.settings.grid
    when '2'
      assign gl = '2'
      assign layout_gl = '2grid'
      assign grid_item_width = ' row-cols-xs-2 row-cols-sm-2'
    when '3'
      assign gl = '3'
      assign layout_gl = '3grid'
      assign grid_item_width = ' row-cols-xs-2 row-cols-sm-3'
    when '4'
      assign gl = '4'
      assign layout_gl = '4grid'
      assign grid_item_width = ' row-cols-xs-2 row-cols-sm-3 row-cols-lg-4'
    when '5'
      assign gl = '5'
      assign layout_gl = '5grid'
      assign grid_item_width = ' row-cols-xs-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5'
    when '6'
      assign gl = '6'
      assign layout_gl = '6grid'
      assign grid_item_width = ' row-cols-xs-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6'
    when '7'
      assign gl = '7'
      assign layout_gl = '7grid'
      assign grid_item_width = ' row-cols-xs-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 row-cols-xxl-7'
    when '8'
      assign gl = '8'
      assign layout_gl = '8grid'
      assign grid_item_width = ' row-cols-xs-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 row-cols-xxl-8'
  endcase
  if section.settings.list_enable
    assign ly = section.settings.sidebar | append: 'lis'
    assign gl = 'list'
    assign layout_gl = 'list'
  else
    if section.settings.masonry == true
      assign ly = 'ms'
    else
      assign ly = 'gr'
    endif    
  endif
  assign view = cart.attributes.theme_coll_layout | split: '_'
  if view.size == 2
    assign split_check = view[0] | split: 'gr'
    assign split_check_ = view[0] | split: 'li'
    assign limit = view[1] | replace: 'pds','' | plus: 0
    if split_check contains 'id'
      assign gl = view[0] | replace: 'grid',''
      assign layout_gl = view[0]
      if section.settings.masonry == true
        assign ly = 'ms'
      else
        assign ly = 'gr'
      endif
    elsif split_check_ contains 'st'
    assign ly = section.settings.sidebar | append: 'lis'
      assign gl = 'list'
      assign layout_gl = view[0]
    endif
  elsif view != blank
    assign split_check = view[0] | split: 'gr'
    assign split_check_ = view[0] | split: 'li'
    if split_check contains 'id'
      assign gl = view[0] | replace: 'grid',''
      assign layout_gl = view[0]
      if section.settings.masonry == true
        assign ly = 'ms'
      else
        assign ly = 'gr'
      endif
    elsif split_check_ contains 'st'
      assign ly = section.settings.sidebar | append: 'lis'
      assign gl = 'list'
      assign layout_gl = view[0]
    endif
  endif
  case limit
    when 16
      assign limit_pds = '_16pds'
    when 20
      assign limit_pds = '_20pds'
    when 30
      assign limit_pds = '_30pds'
    when 50
      assign limit_pds = '_50pds'
    else
      assign limit_pds = ''
  endcase
  if gl == 'list'
    assign grid_item_width = ''
  endif
  assign settings_collection_layout = section.settings.layout
-%}

<a data-pjax-filter class="ktjax d-none" href="javascript:void(0)"></a>
<div class="{{width_section_}} main-container _pb-4 _pt-3">
  <div class="section-width {{width_content_}} main-content {{section.settings.sidebar | default: 'no'}}-sidebar filters-{{settings.filter_type | default:'default'}}">
    {%- if collection.description != blank and section.settings.show_desc -%}
    <div class="collection-description _mb-3">
      {{collection.description | html }}
    </div>
    {%- endif -%}
    <div class="row justify-content-between gx-sm-5{% if section.settings.filters_type == 'toggle-sidebar' %} of-x-hidden{% endif %}">
      {%- liquid
        assign mainColl = ''
        if section.settings.sidebar != '' and section.settings.use_flts
          if section.settings.filters_type == 'sidebar' or section.settings.filters_type == 'toggle-sidebar'
            if section.settings.width_content
              assign mainColl = 'col-lg-9'
            else
              assign mainColl = 'col-lg-10'
            endif
            assign sidebarColl = 'col-lg-2'
            if section.settings.width_content
              assign sidebarColl = 'col-lg-3'
            else
              assign sidebarColl = 'col-lg-2'
            endif
          endif
        endif
      -%}
      <div class="products-content {{mainColl}}">
        <div class="shop-top kt--drop-w kt--drop-w-d" data-section-id="{{ section.id }}" data-section-type="collection-template">    
          <div class="row align-items-center">
            {%- if section.settings.use_flts -%}
            <div class="col-auto d-lg-none">
              <div class="filter-by filterMobile btn btn-primary btn-outline btn-rounded _m-0i" data-bs-toggle="offcanvas" data-bs-target="#filter-m-offcanvas" aria-controls="filter-m-offcanvas"><i class="d-icon-filter-2"></i>{{'collections.filters.title' | t}}</div>
            </div>
            {%- endif -%}
            <div class="col d-flex align-items-center justify-content-end justify-content-sm-start">
              {%- if section.settings.use_flts -%}
                {%- if section.settings.filters_type == 'off-canvas'-%}
                  <div class="filter-by filterCanvas d-none d-lg-block btn btn-primary btn-outline btn-rounded" data-bs-toggle="offcanvas" data-bs-target="#filter-canvas-offcanvas" aria-controls="filter-canvas-offcanvas">{{'collections.filters.title' | t}}<i class="d-icon-arrow-right"></i></div>
                {% endif -%}
                {%- if section.settings.filters_type == 'navigation'-%}
                  <div class="filter-by filterNav d-none d-lg-block btn btn-primary btn-outline btn-rounded"><i class="d-icon-filter-2"></i>{{'collections.filters.title' | t}}</div>
                {% endif -%}
              {%- endif -%}
              {%- if section.settings.filters_type == 'horizontal'-%}
              <div class="kt--filter kt_drop p-0i d-none d-xl-block">
                <div class="kt--filter-grs kt--filter-grs-d">
                  {%- render 'kt_filters_form', obj: collection, sc: 'dk' -%}
                </div>
              </div>
              {%- endif -%}
              {%- if section.settings.sort_enable -%}
                <div class="sorter d-flex align-items-center _me-sm-2">
                  <span class="label d-none d-sm-block _me-2 text-uppercase fw-600">{{'collections.sorting.title' | t}} </span>
                  <div class="select-wrapper kt--drop-i" id="sort_by">
                    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                    <div class="kt--drop-title mb-0 btn-rounded">
                      <span class="kt--drop-text">
                        {%- assign sort_by_name = collection.sort_options | where: 'value', sort_by | first -%}
                        {{-sort_by_name.name-}}
                      </span><span class="ico"><i class="fas fa-chevron-down"></i></span>
                    </div>
                    <ul class="kt--drop-in list-unstyled">
                      {%- for option in collection.sort_options -%}
                      <li class="form-check{% if option.value == sort_by %} selected{% endif %}">
                        <input class="form-check-input d-none" id="sort-by-{{ forloop.index }}" type="radio" name="sort_by" value="{{ option.value | escape }}"{% if option.value == sort_by %} checked{%endif%}>
                        <label class="form-check-label w-100" for="sort-by-{{ forloop.index }}" role="button">
                          <span class="form-check-title">{{ option.name | escape }}</span>
                        </label>
                      </li>
                      {%- endfor -%}
                    </ul>    
                  </div>
                </div>
              {%- endif -%}
            </div>
            <div class="show-a-switcher col-auto d-none d-lg-flex align-items-center">
              {%- if section.settings.numbershow_enable -%}
                <div class="d-flex align-items-center _ms-sm-2">
                  <span class="label d-none d-sm-block _me-1 text-uppercase fw-600">{{'collections.showing_selector.title' | t}} </span>
                  <div class="select-wrapper kt--drop-i">
                    <div class="kt--drop-title mb-0 btn-rounded">
                      <span class="kt--drop-text">{{limit}}</span><span class="ico"><i class="fas fa-chevron-down"></i></span>
                    </div>
                    <ul class="kt--drop-in list-unstyled w-100">
                      {%- assign list_show = '16,20,30,50' | split: ',' -%}
                      {%- assign list_limit = section.settings.limit | append: '' -%}
                      {%- unless list_show contains list_limit -%}
                      <li{%if limit == section.settings.limit%} class="selected"{% endif %}>
                        <span{%unless limit == section.settings.limit%} data-ktpjax{% endunless %} class="show-pds" data-pds="_{{section.settings.limit}}pds" data-href="{{layout_gl}}_{{section.settings.limit}}pds">{{section.settings.limit}}</span>
                      </li>
                      {%- endunless -%}
                      {%- for munber in list_show -%}
                      {%- assign munber = munber | plus: 0 -%}
                      <li{%if limit == munber%} class="selected"{% endif %}>
                        <span{%unless limit == munber%} data-ktpjax{% endunless %} class="show-pds" data-pds="_{{munber}}pds" data-href="{{layout_gl}}_{{munber}}pds">{{munber}}</span>
                      </li>
                      {%- endfor -%}
                    </ul>    
                  </div>
                </div>
              {%- endif -%}
              {%- if section.settings.gridlist_enable -%}
                <ul class="show-grid-list kt--drop-i _ms-2 list-unstyled d-none d-sm-block">
                  <li class="list-inline-item">
                    <span{%unless layout_gl == 'list'%} data-ktpjax{% endunless %} class="show-list{%if layout_gl == 'list'%} active{% endif %} d-icon-mode-list" data-href="list{{limit_pds}}"></span>
                  </li>
                  <li class="list-inline-item">
                    <span{%unless layout_gl != 'list'%} data-ktpjax{% endunless %} class="show-grid{%if layout_gl != 'list'%} active{% endif %} d-icon-mode-grid" data-href="{{section.settings.grid}}grid{{limit_pds}}"></span>
                  </li>
                </ul>
              {%- endif -%}
            </div>
            {%- if section.settings.filters_type == 'navigation'-%}
            <div class="kt--filter kt_nav col-12">
              <div class="filter-clean _mt-2">
                <div class="head hide_op">
                  <a data-pjax-filter="" href="{{collections[collection.handle].url}}" class="sidebar-filter-clear ml-auto">{{'collections.filters.clean' | t}}</a>
                </div>
                {%-comment-%}
                <div class="kt--filter-wrap-sl">
                  {%- render 'kt_filter_selected' -%}
                </div>
                {%-endcomment-%}
              </div>
              <div class="filter_nav_wrapper">
                <div class="kt--filter-grs kt--filter-grs-d">                  
                  {%- render 'kt_filters_form', obj: collection, toggle: "show", sc: 'dk' -%}
                </div>
              </div>
            </div>
            {%- endif -%}
          </div>
          <div class="kt--filter-wrap-sl my-3">
            {%- render 'kt_filter_selected' -%}
          </div>
        </div>

        {%-paginate collection.products by limit %}
        <div class="collection-products" data-section-id="{{ section.id }}"{% if section.settings.masonry == true and gl != 'list' %} id="Masonry-{{ section.id }}" data-section-type="masonry-prds-section"{% endif %}>
          <ul class="products-grid product-listing product-list-grid ly__{{ly}}_items row flex-flow list-unstyled{% if gl != 'list' %} p-style-{{grid_ly}}{% endif %}{{grid_item_width}}" data-grid="{{grid_item_width}}" data-layout="{{ly}}">
            {%- for product in collection.products limit: limit -%}
              {%- if ly contains 'lis' -%}
                <li class="grid-item --list ly__{{ly}}">
                  {% render 'product-list-item', product: product, grid_layout: grid_ly, st_card: st_card  %}
                </li>
              {%- else -%}
                <li class="grid-item ly__{{ly}}">
                  {%- render "product-grid-item", product: product, grid_layout: grid_ly, st_card: st_card -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
            {%-if settings_collection_layout != 'default' -%}{%-if paginate.next.is_link-%}<div class="product-listing-loadmore"></div>{%-endif-%}{%-endif-%}
          </ul>
        </div>
        <hr style="border-color: #e1e1e1;opacity: 1;">
        <div class="row align-items-center justify-content-center justify-content-md-between">
          <span class="result-count col-auto _mb-1 mb-md-0">
            {%- liquid
              unless settings.multi_flts_or
              paginate collection.products by limit
                assign current_offset = paginate.current_offset | plus: 1
                assign current_product_size = collection.products.size | plus: paginate.current_offset
                if limit > paginate.items
                  echo 'collections.general.results_limit_html' | t: count: paginate.items
                else
                  if current_tags == blank
                    echo 'collections.general.results_with_count_html' | t: count: current_offset, curent_count: current_product_size, pr_count: collection.all_products_count
                  else
                    echo 'collections.general.results_with_count_html' | t: count: current_offset, curent_count: current_product_size, pr_count: paginate.items
                  endif
                endif
              endpaginate
              endunless
            -%}
          </span>
          <div class="col-auto pagination_ text-center">
            {%- if settings_collection_layout == 'default' -%}
              {%- if paginate.pages > 1 -%}
                {%- render 'pagination', paginate: paginate, cssAlign: cssAlign, cssAlign_rev: cssAlign_rev -%}
              {%- endif -%}
            {%- else -%}
              <div class="loadMore"{% unless paginate.next.is_link or paginate.page_size == paginate.current_page %} style="display:none"{% endunless %}><a data-pjax-filter href="{{ paginate.next.url }}" class="btn btn-primary btn-loadmore btn-onclick" data-page="page_{{paginate.current_page|plus:1}}" data-action="{{settings_collection_layout}}" data-text-button="{{'collections.general.load_more' | t}}" data-text-loading="{{'collections.general.loading' | t}}">{{'collections.general.load_more' | t}}</a></div>
            {%- endif -%}
          </div>
        </div>
        {% endpaginate -%}

      </div>
      {%- if section.settings.sidebar != '' -%}
      {%- if section.settings.filters_type == 'sidebar' or section.settings.filters_type == 'toggle-sidebar' -%}
      <div class="sidebar sidebar-content {{sidebarColl}} d-none d-lg-block">
        <div class="kt--filter kt_sidebar type-{{section.settings.filters_type}}">
          {%- if section.settings.filters_type == 'toggle-sidebar' -%}
          <div class="filter-clean">
            <div class="head d-flex justify-content-between align-items-center">
              {%-unless section.settings.sidebar == 'right' -%}<div></div>{%-endunless-%}
              <div class="filter-by filterToogleSidebar d-none d-lg-flex btn btn-primary btn-outline btn-rounded btn-icon-right">{{'collections.filters.title' | t}}<i class="d-icon-arrow-left"></i></div>
              <a data-pjax-filter="" href="{{collections[collection.handle].url}}" class="sidebar-filter-clear ml-auto">{{'collections.filters.clean' | t}}</a>
            </div>
            {%-comment-%}
            <div class="kt--filter-wrap-sl">
              {%- render 'kt_filter_selected' -%}
            </div>
            {%-endcomment-%}
          </div>
          {%- endif -%}
          <div class="kt--filter-grs kt--filter-grs-d">
            {%- render 'kt_filters_form', obj: collection, toggle: "show", sc: 'dk' -%}
          </div>
        </div>
      </div>
      {%- endif -%}
      {%- endif -%}
    </div>
  </div>
</div>
{%- if section.settings.filters_type == 'off-canvas' -%}
<div class="offcanvas offcanvas-start vh-100" tabindex="-1" id="filter-canvas-offcanvas" aria-labelledby="filter-canvas-offcanvasLabel">
  <div class="offcanvas-body kt_scroll">
    <div class="kt--filter kt_canvas">
      <div class="filter_cavas_wrapper">
        <div class="filter-clean">
          <div class="head d-flex justify-content-between align-items-center">
            <div class="filter-by filter-close d-none d-lg-block btn btn-primary btn-outline btn-rounded" data-bs-toggle="offcanvas" data-bs-target="#filter-canvas-offcanvas" aria-controls="filter-canvas-offcanvas">{{'collections.filters.title' | t}}<i class="d-icon-arrow-left"></i></div>
            <a data-pjax-filter="" href="{{collections[collection.handle].url}}" class="sidebar-filter-clear">{{'collections.filters.clean' | t}}</a>
          </div>
          {%-comment-%}
          <div class="kt--filter-wrap-sl">
            {%- render 'kt_filter_selected' -%}
          </div>
          {%-endcomment-%}
        </div>
        <div class="kt--filter-grs kt--filter-grs-d">
          {%- render 'kt_filters_form', obj: collection, toggle: "show", sc: 'dk' -%}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}
<div class="loadingFilter"><div class="card d-none"><div class="bar-loading ifinite"></div></div></div>
<div class="offcanvas offcanvas-bottom vh-100 d-lg-none" tabindex="-1" id="filter-m-offcanvas" aria-labelledby="filter-m-offcanvasLabel">
  <div class="offcanvas-header headFilter flex-wrap px-4">
    <span class="offcanvas-title h5 m-0">{{'collections.filters_mobile.title' | t}}</span>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <div class="kt--filter-sl-gr w-100"><div id="kt--filter-sl">{%- render 'kt_filter_selected' -%}</div></div>
  </div>
  <div class="offcanvas-body">
    <div class="kt--filter kt--filter-m">
      <div class="kt--filter-grs kt--filter-grs-m">{%- render 'kt_filters_form', obj: collection, toggle: "show", sc: 'mb' -%}</div>
      <!-- <div class="kt--filter-btn-gr fixed-bottom text-center"><button class="btn btn-primary btn-rounded btn-shadow" id="filterApply" type="submit">{{'collections.filters_mobile.apply' | t}}</button></div> -->
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Collection Page",
    "settings": [
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "radio",
        "id": "width_section",
        "label": "Max width section?",
        "options": [
          {
            "value": "container",
            "label": "1200px"
          },
          {
            "value": "container-fluid wide",
            "label": "Wide"
          },
          {
            "value": "w-100",
            "label": "Full width"
          }
        ],
        "default": "w-100"
      },
      {
        "type": "checkbox",
        "id": "width_content",
        "label": "Max width content?",
        "default": true
      },
      {
        "type": "header",
        "content": "Description settings"        
      },
      {
        "type": "checkbox",
        "id" :"show_desc",
        "label": "Show?",
        "default": true
      },
      {
        "type": "header",
        "content": "Function settings"
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "masonry",
        "label": "Using masonry layout?"
      },
      {
        "type": "checkbox",
        "id": "numbershow_enable",
        "label": "Show selector number show?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "gridlist_enable",
        "label": "Show button switch layout?",
        "default": true
      },
      {
        "type": "header",
        "content": "Layout settings"
      },
      {
        "type": "checkbox",
        "id": "list_enable",
        "label": "*Enable collection list items"
      },
      {
        "type": "select",
        "id": "sidebar",
        "label": "Sidebar",
        "options": [
          {
            "value": "",
            "label": "None"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Paging layout",
        "options": [
          {
            "label": "Paging",
            "value": "default"
          },
          {
            "label": "Button loadmore",
            "value": "loadmore"
          },
          {
            "label": "Infinity load",
            "value": "infinity"
          }
        ],
        "default": "default"
      },
      {
        "type": "range",
        "id": "limit",
        "min": 5,
        "max": 50,
        "step": 1,
        "label": "Limit display product",
        "default": 16
      },
      {
        "type": "header",
        "content": "Filters settings"
      },
      {
        "type": "checkbox",
        "id": "use_flts",
        "label": "Use Filters?",
        "default": true
      },
      {
        "type": "header",
        "content": "Type"
      },
      {
        "type": "select",
        "id": "filters_type",
        "label": "Filters type",
        "options": [
          {
            "value": "sidebar",
            "label": "Sidebar"
          },
          {
            "value": "horizontal",
            "label": "Horizontal"
          },
          {
            "value": "navigation",
            "label": "Navigation"
          },
          {
            "value": "off-canvas",
            "label": "Off-Canvas"
          },
          {
            "value": "toggle-sidebar",
            "label": "Toggle Sidebar"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "filter_item",
        "name": "Filter By...",
        "settings": [
          { 
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Filter By"
          },
          {
            "type": "header",
            "content": "Custom style"
           },
          { 
            "type": "text",
            "id": "key",
            "label": "Filter keyword",
            "default": "Color",
            "info": "Filter keyword containing will apply this style"
          },
          {
            "type": "header",
            "content": "Select block style"
          },
          {
            "type": "select",
            "id": "block_style",
            "options": [
              {
                "value": "1",
                "label": "Detail"
              },
              {
                "value": "2",
                "label": "Color list"
              },
              {
                "value": "3",
                "label": "Tag"
              },
              {
                "value": "4",
                "label": "Color tag"
              },
              {
                "value": "5",
                "label": "Color icon"
              },
              {
                "value": "6",
                "label": "Brand icon"
              },
              {
                "value": "7",
                "label": "Brand with icon"
              }
            ],
            "label": "Style",
            "default": "1"
          },
          {
            "type": "checkbox",
            "id": "use_split",
            "label": "Split the column into 2"
          },
          {
            "type": "checkbox",
            "id": "always_show",
            "label": "Always show."
          }          
        ]
      },
      {
        "type": "filter_categories",
        "name": "Filter Categories",
        "limit": 1,
        "settings": [ 
          {
            "type": "link_list",
            "id": "list_categories_linklist",
            "label": "Linklist categories"
          },
          { 
            "type":"text",
            "id":"key",
            "label":"Filter keyword",
            "default":"kt_categories",
            "info": "Wrong: Don't change"
          },
          {
            "type": "header",
            "content": "Select block style"
          },          
          {
            "type": "checkbox",
            "id": "always_show",
            "label": "Always show."
          } 
        ]
      }
    ]
  }
{% endschema %}