<!-- kt_slideshow_simple.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-capture slideshow-css-%}
{%- style -%}
{%- assign section_id = '.content_' | append: section.id -%}
{{- section.settings.css_section | replace: ".section_id", section_id | strip_newlines -}}
.content_{{section.id}}{
  padding:{{ section.settings.section_padding | default: '0' | split: '|' | first | replace : '-',' '}};
  margin-top: {{section.settings.section_margin_top | default: '0' | split: '|' | first }};
  margin-bottom: {{section.settings.section_margin_bottom | default: '0' | split: '|' | first }};
  {%-if section.settings.section_bg != blank -%}
    background-color:{{section.settings.section_bg}};
  {%-endif-%}
}
{%-if section.settings.section_bg != blank -%}
.content_{{section.id}} .slide_i{
    --bglazy: {{section.settings.section_bg}};
}
{%-endif-%}
{%- assign fullscreen = section.settings.fullscreen -%}
{%- for block in section.blocks-%}
  {%- assign height = block.settings.image.height | default: 782 -%}
  {%- assign width = block.settings.image.width | default: 1920 -%}
  {%- assign height_md = block.settings.image_mb.height | default: height-%}
  {%- assign width_md = block.settings.image_mb.width | default: width -%}
  {%- assign first_ratio = height | times: 1.00 | divided_by: width | times: 100.00000000 | append: '%' -%}
  .slide_i--{{ block.id }} .imgRatio:before {
    padding-bottom: {{height_md | times: 1.00 | divided_by: width_md | times: 100.00000000}}%;
  }
  {%- if block.settings.image_mb != blank -%}
  @media (min-width: 768px){
    .slide_i--{{ block.id }} .imgRatio:before {
      padding-bottom: {{first_ratio}};
    }
  }
  {%- endif -%}
{%-endfor -%}

{%- unless section.settings.fullscreen -%}
  {%- if section.settings.h_reponsive != blank -%}
  .slide_i--{{ section.id }} .imgRatio:before{
    padding-bottom: {{section.settings.h_reponsive | append : 'px' | replace: 'autopx', first_ratio}};
  }
  {%- endif -%}
  {%- if section.settings.h_reponsive_320 != blank -%}
  @media (min-width: 320px){
    .slide_i--{{ section.id }} .imgRatio:before{
      padding-bottom: {{section.settings.h_reponsive_320 | append : 'px' | replace: 'autopx', first_ratio}};
    }
  }
  {%- endif -%}
  {%- if section.settings.h_reponsive_576 != blank -%}
  @media (min-width: 576px){
    .slide_i--{{ section.id }} .imgRatio:before{
      padding-bottom: {{section.settings.h_reponsive_576 | append : 'px' | replace: 'autopx', first_ratio}};
    }
  }
  {%- endif -%}
  {%- if section.settings.h_reponsive_768 != blank -%}
    @media (min-width: 768px){
      .slide_i--{{ section.id }} .imgRatio:before{
        padding-bottom: {{section.settings.h_reponsive_768 | append : 'px' | replace: 'autopx', first_ratio}};
      }
    }
  {%- endif -%}
  {%- if section.settings.h_reponsive_992 != blank -%}
    @media (min-width: 992px){
      .slide_i--{{ section.id }} .imgRatio:before{
        padding-bottom: {{section.settings.h_reponsive_992 | append : 'px' | replace: 'autopx', first_ratio}};
      }
    }
  {%- endif -%}
  {%- if section.settings.h_reponsive_1200 != blank-%}
    @media (min-width: 1200px){
      .slide_i--{{ section.id }} .imgRatio:before{
        padding-bottom: {{section.settings.h_reponsive_1200 | append : 'px' | replace: 'autopx', first_ratio}};
      }
    }
  {%- endif -%}
{%- endunless -%}

{%- endstyle -%}
{%-endcapture-%}
{{ slideshow-css | strip_newlines | remove: '  ' | remove: '  ' }}

<div class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">    
    <div class="section-width {{width_content_}}">
      {%- assign responsive_ = section.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
      {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
      <div data-section-id="{{ section.id }}" id="Swiper-{{ section.id }}" data-section-type="swiper-section" class="kt_home_slide">
        <div class="swiper-fuild position-relative {{section.settings.nav_position}} nav-style{{section.settings.nav_style}} nav-mode-{{section.settings.nav_mode}}">
          <div class="swiper" data-breakpoints='{{responsive_}}' data-autoplay="{{section.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{section.settings.use_dots}}" data-nav="{{section.settings.use_navigation}}" data-scrollbar="{{section.settings.use_scrollbar}}" data-delay="{{section.settings.autoplay_speed}}"{%if section.settings.no_overflow%} data-loop="true" data-no-overflow="true"{% endif %} data-prev-el=".sw-btn-prev-{{section.id}}" data-next-el=".sw-btn-next-{{section.id}}" data-pagination=".swiper-pagination-{{section.id}}">
            <div class="swiper-wrapper">
            {%- assign css = '' -%}
            {%- for block in section.blocks-%}
              
              {%- assign image_item = block.settings.image -%}
              {%- assign img_url = image_item | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <div class="swiper-slide slide_i slide_i--{{ section.id }} slide_i--{{ block.id }}" data-slide-blockid="{{ block.id }}" {{ block.shopify_attributes }}>
                {%- assign node = 'div' -%}
                {%- if block.settings.textBtn_1 == blank and block.settings.textBtn_2 == blank and block.type != 'video' -%}
                  {%- capture node -%}a href="{{ block.settings.link_1 | default: routes.root_url}}"{%- endcapture -%}
                {%- endif -%}
                <{{node}} class="imgRatio{%if fullscreen%} f-height{%endif%}">
                {%- if image_item != blank and block.settings.lazypreload == false or block.type == 'video'-%}
                  {%-if block.settings.image_mb != blank-%}
                    {{ image_item | image_url: width: image_item.width | image_tag: class: 'item-slide imgRatio-img d-none d-md-block', loading: 'lazy' }}
                  {%- else -%}
                    {{ image_item | image_url: width: image_item.width | image_tag: class: 'item-slide imgRatio-img', loading: 'lazy' }}
                  {%- endif -%}
                  {%-if block.settings.image_mb != blank-%}
                    {{ image_item | image_url: width: image_item.width | image_tag: class: 'item-slide imgRatio-img d-md-none' }}
                  {%- endif -%}
                {%- elsif image_item != blank -%}
                  {{ image_item | image_url: width: image_item.width | image_tag: preload: true, class: 'item-slide imgRatio-img', loading: 'lazy' }}
                {%- else -%}
                  <div class="item-slide imgRatio-img"></div>
                {%- endif -%}
                </{{node | split: ' ' | first}}>
              </div>
            {%-endfor -%}
            </div>
            {%- if section.settings.use_dots -%}
            <div class="swiper-pagination swiper-pagination-{{section.settings.dots_mode}} swiper-pagination-{{section.settings.dots_position}} swiper-pagination-{{section.id}}"></div>
            {%- endif -%}
            {%- if section.settings.use_scrollbar -%}
            <div class="swiper-scrollbar scrollbar-primary"></div>
            {%- endif -%}
          </div>
          {%- if section.settings.use_navigation -%}
          <div class="swiper-buttons position-absolute">
            <div class="content-buttons position-relative">
              <div class="swiper-button-prev sw-btn-prev-{{section.id}}"></div>
              <div class="swiper-button-next sw-btn-next-{{section.id}}"></div>
            </div>
          </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Simple",
    "class": "kt_slideshowSimple",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Slideshow Simple",
        "info": "Name section (in editor bar)"
      },
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "25px|30px|35px|40px|45px|50px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "25px|30px|35px|40px|45px|50px"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "60px 60px 0 60px"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color_background",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      },
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type": "checkbox",
        "id": "no_overflow",
        "label": "___Display external content?"
      },
      {
        "type": "checkbox",
        "id": "fullscreen",
        "label": "___Use slideshow full screen?"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "___Use Autoplay?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_navigation",
        "label": "___Use navigation?",
        "default": true
      },
      {
        "type": "select",
        "id": "nav_style",
        "options": [
          {
            "value": "-default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Style 1"
          },
          {
            "value": "2",
            "label": "Style 2"
          }
        ],
        "label": "Navigation style",
        "default": "-default"
      },
      {
        "type": "select",
        "id": "nav_mode",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "primary",
            "label": "Primary color"
          }
        ],
        "label": "Navigation mode",
        "default": "default"
      },
      {
        "type": "select",
        "id": "nav_position",
        "options": [
          {
            "value": "nav-default",
            "label": "Default"
          },
          {
            "value": "nav-center-center",
            "label": "Center center"
          },
          {
            "value": "nav-center-outside",
            "label": "Center outside"
          }
        ],
        "label": "Navigation position",
        "default": "nav-default"
      },
      {
        "type": "checkbox",
        "id": "use_dots",
        "label": "___Use dots?"
      },
      {
        "type": "select",
        "id": "dots_mode",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "primary",
            "label": "Primary color"
          }
        ],
        "label": "Dots mode",
        "default": "default"
      },
      {
        "type": "checkbox",
        "id": "use_scrollbar",
        "label": "___Use Scrollbar?"
      },
      {
        "type": "header",
        "content": "Height slider settings"
      },
      {
        "type": "text",
        "id": "h_reponsive",
        "label": "Mobile",
        "placeholder": "250"
      },
      {
        "type": "text",
        "id": "h_reponsive_320",
        "label": "On screen up 320px",
        "placeholder": "350"
      },
      {
        "type": "text",
        "id": "h_reponsive_576",
        "label": "On screen up 576px",
        "placeholder": "350"
      },
      {
        "type": "text",
        "id": "h_reponsive_768",
        "label": "On screen up 768px",
        "placeholder": "400"
      },
      {
        "type": "text",
        "id": "h_reponsive_992",
        "label": "On screen up 992px",
        "placeholder": "400"
      },
      {
        "type": "text",
        "id": "h_reponsive_1200",
        "label": "On screen up 1200px",
        "placeholder": "600"
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "min": 5,
        "max": 60,
        "step": 1,
        "unit": "s",
        "label": "Change slides every",
        "default": 7
      },
      {
        "type": "liquid",
        "id": "responsive",
        "label": "== Responsive",
        "default": "{\n  \"0\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 10\n  },\n  \"320\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 10\n  },\n  \"768\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 10\n  },\n  \"992\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 10\n  },\n  \"1200\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 10\n  }\n}"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Item image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mb",
            "label": "Image mobile"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Custom"
          },
          {
            "type": "text",
            "id": "title",
            "label": "NAME BLOCK",
            "default": "Item image",
            "info": "Name block (in editor bar)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Simple",
        "category": "01. Hero banner",
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}