{%- comment -%}
------- Swatch -----------
{%- endcomment -%}
{%- liquid
  assign pos360 = ''
  assign optVr1 = ''
  assign imgsPos = ''
  assign imgsPos0 = 0
  assign imgsPos1 = 0
  
  assign gallery_opt = 0
  assign gallery_opt_ = 'option1'
  if product.tags contains 'gll_otp2'
    assign gallery_opt = 1
    assign gallery_opt_ = 'option2'
  endif
  if product.tags contains 'gll_otp3'
    assign gallery_opt = 2
    assign gallery_opt_ = 'option3'
  endif
  assign variants = product.variants
  assign offset = 0
  for value in product.options_with_values[gallery_opt].values
    assign variants_by_option = variants | where: gallery_opt_, value
    for media in product.media offset: offset
      if media.preview_image.src == variants_by_option.first.featured_image.src
        if imgsPos == ''
          assign imgsPos =  media.position | append: "," | split: ','
        else
          assign imgsPos = imgsPos | join: ',' | append: ","  | append: media.position | split: ','
        endif
        assign offset = media.position | minus: 1
        break
      endif
    endfor
  endfor

  assign imgsPosCheckLast = imgsPos
  for media in product.media
    if media.alt == 'kt_360'
      assign pos360 = forloop.index | append: "," | append: product.media.size | split: ','
    endif
  endfor
  if pos360 != ''
    assign lastPos = "," | append: pos360[0]
  elsif product.media.size == 1
    assign lastPos = "," | append: 2
  else
    assign lastPos = "," | append: product.media.size
  endif
  if imgsPos == ''
    assign imgsPos = '1' | append: lastPos | split: ','
  else
    if section.settings.gallery == false
      assign imgsPos = '1' | append: lastPos | split: ','
    else
      assign imgsPos = imgsPos | join: ',' | append: lastPos | split: ','
    endif
  endif
  assign imgsPos0 = imgsPos[0] | plus:0
  assign imgsPos1 = imgsPos[1] | plus:0
  if imgsPos0 >= imgsPos1
    assign imgsPos = '1' | append: lastPos | split: ','
    assign imgsPos0 = imgsPos[0] | plus:0
    assign imgsPos1 = imgsPos[1] | plus:0
  endif

  assign imgPos = product.selected_or_first_available_variant.featured_media.position | default: 1

  for imgspr in imgsPos
    assign idx = forloop.index
    assign idx_ = forloop.index | minus: 2
    assign imgsPos0Int = imgspr | plus: 0
    assign imgsPos1Int = imgsPos[idx] | plus: 0
    if imgsPos0Int <= imgPos and imgPos < imgsPos1Int or imgsPos0Int > imgPos and imgPos < imgsPos1Int
      assign imgsPos0 = imgsPos0Int
      assign imgsPos1 = imgsPos1Int
      break
    endif
    assign imgsPosLast = imgsPos.last | plus:0
    if imgsPos0Int == imgsPosLast
      if imgsPosCheckLast contains imgsPos.last
        assign imgsPos0 = imgsPosLast
        assign imgsPos1 = imgsPosLast
      else
        assign imgsPos0 = imgsPos[idx_] | plus:0
        assign imgsPos1 = imgsPosLast
        assign vrimgpos = imgsPos1
      endif
    endif
  endfor
-%}
{%- comment -%}
------- Check one image -----------
{%- endcomment -%}
{%- liquid
  assign checkOneImage = imgsPos0 | plus: 1
  assign checkOneImage_ = false
  if product.media.size == 1
    assign checkOneImage_ = true
  endif

  assign settings_gallery = section.settings.gallery
  if settings_gallery
    if checkOneImage == imgsPos1 and checkOneImage != product.media.size
      assign checkOneImage_ = true
    endif
    if checkOneImage > product.media.size
      assign checkOneImage_ = true
    endif
    assign imgsPos1- = imgsPos1 | minus: 1
    if imgsPos0 == imgsPos1- and checkOneImage != product.media.size
      assign checkOneImage_ = true
    endif
  endif
-%}

<div class="datajs--{{ section.id | default: product.id }}"{{-' '-}}
  data-imgspos="{{imgsPos|join:','}}"{{-' '-}}
  data-imgspos360="{{pos360|join:','}}"{{-' '-}}
  data-vrimgpos="{% if vrimgpos %}{{vrimgpos}}{% else %}{{imgsPos0}}{% endif %}"{{-' '-}}
  data-curpos="[{{imgsPos0}},{{imgsPos1}}]"{{-' '-}}
  data-df-variant="{{product.has_only_default_variant|json}}"></div>
  {%- assign video5_visible = product.media | where: 'media_type', 'video' | first -%}
  {%- assign external_video_visible = product.media | where: 'media_type', 'external_video' | first -%}
  {%- assign model_visible = product.media | where: 'media_type', 'model' | first -%}
<div class="datasettings--{{ section.id | default: product.id }}"{{-' '-}}
  data-use-qty="{{settings.show_quantity_selector}}"{{-' '-}}
  data-layout-section="{{section.settings.layout}}"{{-' '-}}
  data-width-section="{%-if section.settings.width_content and section.settings.width_section == 'w-100' or section.settings.width_section == 'container' -%}true{%-else-%}false{%-endif-%}"{{-' '-}}
  data-use-thumb-vertical="{{section.settings.use_thumb_vertical}}"{{-' '-}}
  data-gallery="{{section.settings.gallery}}"{{-' '-}}
  data-swatch-style="{{settings.swatch_style}}"{{-' '-}}
  data-wide="{{section.settings.use_wide}}"{{-' '-}}
  data-stickyATC="{{settings.show_sticky_add}}"{{-' '-}}
  data-video5="{%-if video5_visible -%}true{%-else-%}false{%-endif-%}"{{-' '-}}
  data-external-video="{%-if external_video_visible -%}true{%-else-%}false{%-endif-%}"{{-' '-}}
  data-model="{%-if model_visible -%}true{%-else-%}false{%-endif-%}"></div>

{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture

  assign compare_at_price = product.compare_at_price
  assign price = product.price
  assign price_varies = product.price_varies
  assign available = product.selected_or_first_available_variant.available
  assign current_variant = product.selected_or_first_available_variant
  if settings.use_new_label    
    assign on_new = false
    assign now_date_int = "now" | date: "%j" | plus: 0
    assign now_year_int = "now" | date: '%Y' | plus: 0
    assign pub_date_int = product.created_at | date: "%j" | plus: 0
    assign pub_year_int = product.created_at | date: '%Y' | plus: 0
    if now_year_int == pub_year_int
      assign new_day_int = settings.new_day | default: 30 | plus: 0
      assign check_new = now_date_int | minus: pub_date_int
      if check_new >= 0 and check_new <= new_day_int
        assign on_new = true
      endif
    else
      assign new_day_int = settings.new_day | default: 30 | pub_date_int
      assign check_new = now_date_int | plus: 366
      if check_new <= new_day_int
        assign on_new = true
      endif
    endif
  endif

  assign on_sale = false
  if compare_at_price > price and settings.use_sale_label == true
    assign on_sale = true
  endif
  assign sold_out = true
  assign preOrder = false
  unless available == false
    assign sold_out = false
  endunless
  if current_variant.inventory_quantity <= 0 and current_variant.inventory_policy == 'continue' and current_variant.incoming
    assign preOrder = true
  endif
-%}
<div class="{{width_section_}}">
  <div class="section-width {{width_content_}}">
    <div class="product-page product-inner psgl-ly-1 pid_{{product.id}}{% if template.suffix == 'mix-a-match' %} product-mix-a-match{%endif%}" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" data-enable-ajax-cart="{{settings.ajax_cart}}" data-product-id="{{ product.id }}" data-use-thumb="{{section.settings.use_thumb}}" data-use-zoom="{{section.settings.use_zoom}}" data-images-layout="">
      <div class="product-images-info row justify-content-between">
        <div class="product-images col-12 col-lg-6 pt-4 pt-lg-0">
          <div class="product-detail-image _mb-2">
            <div class="images row gx-0">
              {%- if checkOneImage_ -%}
                {%- assign photoClass = ' oneImagePhoto' -%}
                {%- assign thumbClass = ' oneImageThumb' -%}
              {%- endif -%}
              {%-if product.featured_image-%}
                <div id="product-photo-slide--{{ section.id }}" class="main-image main-image-wapper col-12{{photoClass}}" data-vertical="{{section.settings.use_thumb_vertical}}">
                  {%- render 'product-item-flashs', st_card: st_card, on_new: on_new, on_sale: on_sale, sold_out: sold_out, preOrder: preOrder -%}
                  <div class="btn-group btns-prd-act position-absolute d-flex flex-nowrap" style="z-index: 1">
                    <button class="kt_open360_{{ section.id }} d-none"><span class="kt kt-video-player">360</span></button>
                    {% if section.settings.use_wide %}
                      <button onclick="$('#product-photo-slide--{{ section.id }} .swiper-slide-active .p-sgl__photo-image').trigger('click')" data-toggle="tooltip" title="{{ 'products.product.button_large_view' | t }}" aria-label="{{ 'products.product.button_large_view' | t }}">
                        <span class="kt kt-wide-popup">
                          <i class="d-icon-zoom"></i>
                        </span>
                      </button>
                    {% endif %}
                  {%- assign model_visible = product.media | where: 'media_type', 'model' | first -%}
                  {%- if model_visible -%}
                    <button data-toggle="tooltip" title="{{ 'products.product.button_model' | t }}" aria-label="{{ 'products.product.button_model' | t }}" class="view-in-space {{section.id}}__view-in-space" data-shopify-xr data-shopify-model3d-id="{{ model_visible.id }}" data-shopify-title="{{ product.title | escape }}" data-shopify-xr-hidden>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--full-color icon-3d-badge-full-color" viewBox="0 0 26 26"><path class="icon-3d-badge-full-color-element" d="M19.13 8.28L14 5.32a2 2 0 0 0-2 0l-5.12 3a2 2 0 0 0-1 1.76V16a2 2 0 0 0 1 1.76l5.12 3a2 2 0 0 0 2 0l5.12-3a2 2 0 0 0 1-1.76v-6a2 2 0 0 0-.99-1.72zm-6.4 11.1l-5.12-3a.53.53 0 0 1-.26-.38v-6a.53.53 0 0 1 .27-.46l5.12-3a.53.53 0 0 1 .53 0l5.12 3-4.72 2.68a1.33 1.33 0 0 0-.67 1.2v6a.53.53 0 0 1-.26 0z" opacity=".6" style="isolation:isolate"></path></svg>
                    </button>
                  {%- endif -%}
                  </div>
                  {%- assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src -%}
                  {%- assign featured_img_size = featured_img_src.width | append: 'x' -%}
                  {%- assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt -%}
                  {%- capture data_slick_photo -%}
                    data-slides-per-view="1" data-space-between="4" data-effect="fade" data-breakpoints='{"0": {"slidesPerView": "auto", "freeMode": true, "parallax": true},"768": {"slidesPerView": 1, "freeMode": false, "parallax": false}}'
                  {%- endcapture -%}
                  {%- render 'kt_product_media', key: 'photo', dataJs: data_slick_photo, imgsPos: imgsPos, imgsPos0: imgsPos0, imgsPos1: imgsPos1 -%}
                </div>
                {%- if section.settings.use_thumb -%}
                <div id="product-thumb-slide--{{ section.id }}" class="thumbnails productThumbSlide--{{ section.id }}{%if section.settings.use_thumb_hidden_on_mb%} d-none d-md-block{%endif%} col-12{{thumbClass}}" data-vertical="{{section.settings.use_thumb_vertical}}">
                  {%- capture data_slick_thumb -%}
                    {%- if section.settings.use_thumb_vertical -%}
                      data-direction="horizontal" data-slides-per-view="4" data-space-between="10" data-breakpoints='{"0": {"slidesPerView": 4,"spaceBetween": 10},"576": {"slidesPerView": "auto"}}'
                    {%- else -%}
                      {%-if section.settings.width_content and section.settings.width_section == 'w-100' or section.settings.width_section == 'container' -%}
                      data-slides-per-view="4" data-space-between="10" data-breakpoints='{"768": {"slidesPerView": 4}}'
                      {%-else-%}
                      data-slides-per-view="4" data-space-between="10" data-breakpoints='{"768": {"slidesPerView": 4},"1200": {"slidesPerView": 6}}'
                      {%-endif-%}
                    {%- endif -%}
                  {%- endcapture -%}
                  <div class="position-relative h-100">
                  {%- render 'kt_product_media', key: 'thumb', dataJs: data_slick_thumb, imgsPos: imgsPos, imgsPos0: imgsPos0, imgsPos1: imgsPos1 -%}
                  </div>
                </div>
                {%- endif -%}
              {%- else -%}
                <div class="main-image main-image-wapper" style="padding: 0;width: 100%;">
                  {{'no-image.jpg' | asset_img_url: 'master' | img_tag}}
                </div>
              {%- endif -%}
            </div>
            <iframe id="resize-image-product"></iframe>
          </div>
        </div>
        <div class="product-info summary entry-summary col-12 col-lg-6">
          <div class="content-summary d-flex flex-wrap">
            {%- if settings.show_flash_sold or settings.show_real_time_visitor-%}
            <div class="content-more time_sold d-flex flex-wrap justify-content-between align-items-center">
              {%- if settings.show_flash_sold -%}
                <div class="mb-1 mb-lg-0">{{-settings.flash_sold_content-}}</div>
              {%- endif -%}
              {%- if settings.show_real_time_visitor -%}
              <div class="realTime realTime-{{section.id}}" data-counter-max="{{settings.real_time_max}}" data-interval-time="{{settings.real_interval_time | append: '000'}}" style="--bg: {{ settings.bg_count }}">
                {%- assign count = 'now' | date: '%S' -%}
                {{- 'products.real_time_visit.text_html' | t: visitCount: count -}}
              </div>
              {%-endif -%}
            </div>
            {%-endif -%}
            <div class="d-flex justify-content-between align-items-center mb-1">
              <h1 class="product-name entry-title">{{ product.title }}</h1>
              {%- if section.settings.use_ask -%}
                <div class="ask-product-button">
                  <button type="button" data-bs-target="#askModal" data-bs-toggle="modal" class="btn btn-link" data-toggle="tooltip" title="{{'products.ask_about.name_button' | t}}"><i class="fa fa-question"></i></button>
                </div>
              {%- endif -%}
            </div>
            <div class="psgl-vendor-sku">
              {%- if settings.show_sku and current_variant.sku != blank -%}
              <div class="psgl-sku d-inline-block"><label>{{ 'products.product.sku' | t }}:&nbsp;</label><span class="variant-sku">{{current_variant.sku}}</span></div>
              {%- if settings.show_vendor and product.vendor != blank -%}{%- if settings.show_vendor and product.vendor != blank -%}<span class="px-2"></span>{%- endif -%}{%- endif -%}
              {%- endif -%}
              {%- if settings.show_vendor and product.vendor != blank -%}
              <div class="psgl-vendor d-inline-block"><label>{{ 'products.product.vendor' | t }}:&nbsp;</label>
                {{ product.vendor | link_to_vendor }}
              </div>
              {%- endif -%}
            </div>
            <div class="d-flex justify-content-between align-items-center _mb-2">
              {%- unless template.suffix == 'mix-a-match' -%}
                {%- render 'product-single-prices', current_variant: current_variant -%}
              {%- endunless -%}
              {%- render 'rating_star' -%}
            </div>
            {%- unless sold_out -%}
            {%-if settings.use_progress_bar_out_of_stock-%}
              {%- assign flash_deal = true -%}
              {%-assign show_progress = false-%}
              {%- if current_variant.inventory_quantity < settings.stock_to and current_variant.inventory_management -%}{%-assign show_progress = true-%}{%- endif -%}
              {%- unless current_variant.inventory_quantity <= 0 and product.has_only_default_variant -%}
                {%- assign inv_qty  = current_variant.inventory_quantity -%}
              {%- endunless -%}
              <div class="kt_progress_bar _mb-1">
                <div class="kt_progress_bar_pr progress_bar-{{section.id}}" data-stock-from="{{settings.stock_from}}" data-stock-to="{{settings.stock_to}}" data-stock-bg-process="{{settings.stock_bg_process}}"{% if show_progress %} data-remaining_items="{{inv_qty}}"{% endif %}>
                  <p></p><div class="progress" style="height: 6px;"><div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                </div>
              </div>
            {%-endif-%}
            {%- assign flash_deal = false -%}
            <div class="flash-deal">
            {%-if settings.stock_countdown or product.metafields.event.countdown != blank-%}
              {%- assign flash_deal = true -%}
              <div class="product-single-countdown d-inline-flex flex-nowrap align-items-center _mb-2">
                <p class="mb-0 label_countdown">{{'general.countdown.label' | t}}</p>
                <div class="kt_countdown style02{% unless product.metafields.event.countdown != blank or settings.time_countdown != blank%} kt_loop_bar{% endunless %} kt_countdown_page clearfix" data-time="{% if product.metafields.event.countdown != blank%}{{product.metafields.event.countdown}}{%elsif settings.time_countdown != blank%}{{settings.time_countdown}}{% endif %}"></div>
              </div>
            {%-endif-%}
            </div>
            {%- endunless %}
            <div class="entry-short-description{% unless section.settings.show_shortdes %} d-none{% endunless %}">
              {%- if product.metafields.meta.short_description -%}
                {{ product.metafields.meta.short_description | html | strip_newlines }}
              {%-elsif section.settings.shortdes_type == 'short'-%}
                {{ product.description | strip_html | truncatewords: 50 }}
              {%-else-%}
                {{ product.description | html | strip_newlines }}
              {%-endif-%}
            </div>
            {%- for block in section.blocks -%}
              {%-unless block.type contains 'ct_'-%}{%-continue-%}{%-endunless-%}
              {%- if block.type == 'ct_custom' -%}
                <div class="block_custom _mb-2">
                  {% if block.settings.text != blank %}
                    {{block.settings.text | html}}
                  {% endif %}
                  {% if block.settings.page != blank %}
                    {{pages[block.settings.page].content | html}}
                  {% endif %}
                </div>
              {%- elsif block.type == 'ct_custom_lq' -%}
                <div class="block_custom _mb-2">
                  {% if block.settings.text != blank %}
                    {{block.settings.text}}
                  {% endif %}
                </div>
              {% endif %}
            {%-endfor -%}
            <div class="variant_picker">
              {%-render 'kt_psgl_swatch'-%}
            </div>
            {%- assign id = 'cart-form--' | append: section.id -%}
            {%- assign class = 'cart product-form product-form-' | append: section.id -%}
            {%- assign class = class | append: ' may-add' -%}
            {%- form 'product', product, id: id, class: class, novalidate: 'novalidate' -%}
              {%- if template.suffix == 'mix-a-match' -%}
                {%-render 'kt_prd_mix_a_match'-%}
              {%- else -%}
                {%-render 'kt_psgl_form'-%}
                <div class="lazyload nonInf lazypreload" data-include="{{product.url}}?view=group"></div>
              {%- endif -%}
              <!-- <div class="w-100 border-top _mb-2"></div> -->
              <div class="preOrder preOrder--{{ section.id }} _mb-2"{%unless preOrder%} style="display:none"{%endunless%}>
                <i class="d-icon-exclamation-circle d-icon-lg"></i>{{'products.product.pre_order_text' | t}} <span>{{current_variant.next_incoming_date | date: format: 'pre_order_date'}}</span>
              </div>
              <div class="subtt_gr subtt_gr--{{ section.id }} w-100"{% unless template.suffix == 'mix-a-match' %} style="display: none;"{% endunless%}>
                <span class="label _mb-2 d-inline-block">{{'cart.summary_box.subtotal' | t}}: </span>
                <div class="entry-price price">
                  <ins class="subtt_gr-money">
                    {{ current_variant.price | money }}
                  </ins>
                  <del class="subtt_gr-c-money{%if current_variant.compare_at_price <= current_variant.price or current_variant.compare_at_price == null%} d-none{%endif%}">
                    {{ current_variant.compare_at_price | default: current_variant.price | money }}
                  </del>
                </div>
              </div>
              {%- capture cssbtn -%}{{section.settings.atc_btn}} {{section.settings.atc_btn_rounded}}{% if section.settings.atc_btn_shadow%} btn-shadow{%endif%}{%if section.settings.atc_btn_ani%} animated infinite heartBeat{%endif%}{%- endcapture -%}
              {%- if section.settings.show_add_to_cart_btn -%}
              <div class="border-top _mb-2" style="border-top-color: #eee !important;"></div>
              <div class="entry-buttons _mb-2{% if section.settings.atc_btn_big %} atc_btn_big{% endif %}">
                {%- unless product.metafields.purchase.on_link != blank or template.suffix == 'mix-a-match' %}
                <div class="quantity js-item-quantity item-quantity--{{ section.id }}" style="{%unless section.settings.show_quantity_selector%}display: none;{%endunless%}">
                  <label class="form-label d-none" for="qty-{{section.id}}">{{'products.product.quantity' | t}}<span>: </span></label>
                  <div class="control">
                    <button type="button" class="btn-number qtyminus"></button>
                    <input type="text" data-step="1" name="quantity" data-min="1" value="1" id="qty-{{section.id}}" class="input-qty input-text qty {{section.settings.atc_btn_rounded | replace: 'btn-', ''}}" size="4" pattern="[0-9]*">
                    <button type="button" class="btn-number qtyplus"></button>
                  </div>
                </div> 
                {%- endunless -%}
                {%- if product.metafields.purchase.on_link != blank %}
                <a href="{{product.metafields.purchase.on_link | split: ']' | last }}" class="btn {{cssbtn}} single_add_to_cart_button out_site">
                  <span>{{-product.metafields.purchase.on_link | split: "]" | first | remove: "["-}}</span>
                </a>
                {%- else -%}
                <button type="submit" name="add" id="AddToCart-{{ section.id }}"{% unless sold_out == false %} disabled="disabled"{% endunless %} class="btn {{cssbtn}} single_add_to_cart_button">
                  <i class="d-icon-bag"></i><span id="AddToCartText-{{ section.id }}">{%- if preOrder -%}{{'products.product.pre_order' | t}}{%- elsif sold_out == false -%}{{'products.product.add_to_cart' | t}}{%- else -%}{{'products.product.sold_out' | t}}{%- endif -%}</span>
                </button>
                {%- if section.settings.use_d_c_b -%}
                  <div class="shopifyPaymentButton" {%if current_variant.available == false %} style="display: none;"{%endif%}>
                    {{- form | payment_button -}}
                  </div>
                {%- endif -%}
                {%- endif -%}
              </div>
              <div class="border-top _mb-2" style="border-top-color: #eee !important;"></div>
              {%- endif -%}
            {%- endform -%}
            {%-if section.settings.use_store_avai-%}
              <div class="psgl__store-avai-container _mb-1" data-store-avai-container data-product-title="{{ product.title | escape }}" data-has-only-default-variant="{{ product.has_only_default_variant }}" data-base-url="{{ shop.url }}{{ routes.root_url }}"></div>
            {%-endif-%}
            {%-if section.settings.use_notify_onavai-%}
              <div class="lazyload lazypreload" data-include="{{product.url}}?variant={{current_variant.id}}&view=notify"></div>
            {%- endif -%}
            {%-if settings.use_shipp_rates_cus-%}
            <div class="shipping_rates border rounded _mb-1">
              {%- if settings.use_shipp_rates_cus -%}
                {{ pages[settings.shipp_rates_cus].content | html }}
              {%- endif -%}
              {%- if settings.enable_delivery_option and settings.use_delivery_time -%}
                {%- render 'kt_product_delivery' -%}
              {%- endif -%}
            </div>
            {%- endif -%}
            <!-- <div class="w-100 border-top _mb-2"></div> -->
            {%- if settings.use_fbt and settings.use_fbt_box -%}
              {%-render 'fbt-layout', box: settings.use_fbt_box-%}
            {%- endif -%}
            <div class="row align-items-center justify-content-between _mb-1">
              {% if settings.show_share_buttons %}
              <div class="col-auto social_sharing_wrapper">
                <div class="socials_ socials_color d-inline-block social-share">
                  {%comment%}<!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons"></div><!-- ShareThis END -->{%endcomment%}
                  {% render 'kt_social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                </div>
              </div>
              {% endif %}
              <div class="col wishlist_compare_btns">
                <span class="divider d-none d-lg-inline-block"></span>
              {%- if settings.use_wishlist -%}
                <div class="btn kt-button wishlist kt-wishlist d-icon-heart" data-action="add" data-handle="{{product.handle}}" data-id="{{product.id}}">
                  <span class="text-nowrap btn-name">{{'products.wishlist.add_to_wishlist' | t}}</span>
                </div>
              {%- endif -%}
              {%- if settings.use_compare-%}
                <div class="btn compare d-icon-compare" data-pid="{{product.id}}">
                  <span class="text-nowrap">{{'products.compare.add_to_compare' | t}}</span>
                </div>
              {%- endif -%}
              </div>
            </div>
            <!-- <div class="d-flex flex-wrap _mb-2">
              <strong class="me-1">{{"products.product.tags" | t}}: </strong>
              <div>
                {%- for tag in product.tags -%}
                  {{ tag | link_to_tag: tag }}{%-unless forloop.last-%}{{', '}}{%-endunless-%}
                {%- endfor -%}
              </div>
            </div> -->
            {%-if settings.trust_image_prdsingle-%}
            <div class="content-more text-center _pt-2 _pb-3">
              {%-if settings.trust_image_-%}
                <img alt="{{settings.trust_image_.alt}}" src="{{settings.trust_image_ | img_url: 'master'}}">
              {%-else-%}
                <p class="mb-2 fs-6">{{"general.trust_budget.title" | t}}</p>
                {% comment %}{% assign enabled_payment_types = 'american_express, apple_pay, diners_club, discover, google_pay, jcb, master, paypal, shopify_pay, venmo, visa, ' | remove: ' ' | split: ',' %}{% endcomment %}
                {%- assign enabled_payment_types = shop.enabled_payment_types -%}
                {%- for type in enabled_payment_types -%}
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                {%- endfor -%}
              {%-endif-%}
            </div>
            {%-endif-%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- if settings.use_fbt and settings.use_fbt_box == false -%}
  {%-render 'fbt-layout', layout: 'fbt-prds-sc'%}
{%- endif -%}
<div class="tab-details-product tabs_style_{{section.settings.layout_tabs}}">
  {%-render 'kt_product_tabs', style: section.settings.layout_tabs-%}
</div>
{%- if section.settings.img_type_prd_single == 'normal' -%}
<style>.product-page .product-images .aspectRatio{padding-bottom: {{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100.00000000 }}%;}</style>
{%- endif -%}
{%- if section.settings.width_section == 'container-fluid wide' -%}
<style>.kt-breadcrumbs .container{max-width: 1820px;}</style>
{%- endif -%}
<script>var initialSlide = {%- if product.selected_variant -%}{{ imgPos | minus: imgsPos0 }}{%- else -%}0{%- endif -%};</script>
{%-unless product == empty-%}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {%- capture more_attr -%}{ {{--}}
    "more_variants": {
      {%- for variant in product.variants -%}
      "{{variant.id}}": {"p_options": {{product.options | json}}, "options_handle": {{-variant.title | split: ' / ' | join: 'kiki' | handleize | split: 'kiki' | json-}}, {{--}}
      "incoming": {{variant.incoming}},"incoming_date": "{{variant.next_incoming_date | date: format: 'pre_order_date'}}"}{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}
    }, {{--}}
    {%- endcapture -%}
    {{product | json | remove_first: "{" | prepend: more_attr}}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{- product.media | where: 'media_type', 'model' | json -}}
  </script>
{%-endunless-%}

{%-assign size_guide = false-%}
{%-capture header_name-%}
  {%-if pages[settings.size_guide]-%}
    {{- pages[settings.size_guide].title -}}
  {%-else-%}
    {{- 'products.product.size_chart' | t -}}
  {%-endif-%}
{%-endcapture-%}
{%-capture content-%}
{%-if product.metafields.meta.size_guide-%}
  {{- product.metafields.meta.size_guide | html | strip_newlines -}}
  {%-assign size_guide = true-%}
{%-elsif product.collections.first.handle-%}
  {%- assign collections_h = product.collections | map: 'handle' -%}
  {%-for handle in collections_h-%}
    {%-assign coll_size_guide = handle | append: " - Size Guide" | handleize-%}
    {%-if pages[coll_size_guide].handle != empty-%}
      {{- pages[coll_size_guide].content | html | strip_newlines -}}
      {%-assign size_guide = true-%}
      {%-break-%}
    {%-endif-%}
  {%-endfor-%}
{%-endif-%}
{%-if settings.size_guide != blank and size_guide == false-%}
  {{- pages[settings.size_guide].content | html | strip_newlines -}}
  {%-assign size_guide = true-%}
{%-endif-%}
{%-endcapture-%}

{%-if size_guide-%}
<div class="modal fade" id="sizeModal" aria-hidden="true" aria-labelledby="sizeModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered container">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title h4 m-0">{{- header_name -}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="content-item">
          {{- content -}}
        </div>
      </div>
    </div>
  </div>
</div>
{%-endif-%}
{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign on_sale = false
  if compare_at_price > price and settings.use_sale_label == true
    assign on_sale = true
  endif
  assign sold_out = true
  assign preOrder = false
  unless available == false
    assign sold_out = false
  endunless
  if current_variant.inventory_quantity <= 0 and current_variant.inventory_policy == 'continue' and current_variant.incoming
    assign preOrder = true
  endif
-%}
{%- if settings.show_sticky_add and template.suffix != 'mix-a-match' -%}

<div class="kt-stickyAddCart product-inner {{settings.sticky_style}}{%unless settings.show_sticky_add_mobile%} d-none d-md-block{%endunless%}{% unless product.has_only_default_variant %} ktlz{%endunless%}" data-href="{{product.handle}}" data-show-name="true" data-ktlz="onLoad">
  <form method="post" action="{{routes.cart_add_url}}" id="ProductSection-{{product.id}}-{{section.id}}" class="form form-ajax-- ktlz-form-pid-{{product.id}}" data-p-id="{{product.id}}" data-section-id="-{{product.id}}-{{section.id}}" data-options="{{product.options.size}}" data-pr-vrs="">
    <div class="position-fixed {{settings.sticky_position}}">
      <button class="btn-close position-absolute" aria-label="Close" type="button"></button>
      <div class="container">
        {%- unless product.has_only_default_variant -%}
        <div id="form_variants" style="display: none">
          {%-if product.has_only_default_variant == false-%}
          <div class="product-variants-wrapper">
            <div class="prd-variants">
              {%- for i in (1..product.options.size) -%}
                <div class="prd--option{{i}} animated-background"></div>
              {%- endfor -%}
            </div>
          </div>
          {%-endif-%}
        </div>
        {%-endunless-%}
        <div class="row align-items-center justify-content-between">
          <div class="col-md-7 infor">
            <div class="row align-items-center">
            {%- if settings.show_sticky_img -%}
              <div class="col-auto">
                <div class="img_sticky product-thumb">
                  {%- capture ar_i-%}--ar_i:{{product.featured_image.height | times: 1.00 | divided_by: product.featured_image.width | times: 100.00000000}}%;{%-endcapture-%}
                  <a class="aspectRatio" href="{{product.url | within: collection}}" title="{{product.title | escape}}" aria-label="{{product.title | escape}}" style="{{ar_i | replace:'--ar_i:NaN%',''}}">
                    {%- liquid
                    assign as_r = '1/1'
                    assign featured_image = product.selected_or_first_available_variant.image | default: product.featured_image
                    if settings.img_type != 'normal'
                      assign aspect_ratioW = as_r | split: '/' | first | strip | plus: 0.00
                      assign aspect_ratioH = as_r | split: '/' | last | strip | plus: 0.00
                      capture image_fit
                        render 'kt_image_fit', width: aspect_ratioW, height: aspect_ratioH, image_item: featured_image
                      endcapture
                    endif
                    -%}
                    {%- if featured_image -%}
                    <div class="primary-thumb" data-ogr="{{ featured_image | img_url: 'master' }}">
                      {%- assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img width="{{featured_image.width}}" height="{{featured_image.height}}" class="lazyload {{image_fit}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ img_url }}" data-widths="[240]" data-aspectratio="{{ featured_image.aspect_ratio }}" data-sizes="auto" alt="{{ featured_image.alt | escape }}">
                    </div>
                    {%- else -%}
                    <div class="primary-thumb" data-ogr="">
                      <img class="lazyload {{image_fit}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/1958/5719/files/no-image.webp?v=1534478004" data-aspectratio="1/1" data-sizes="auto" alt="">
                    </div>
                    {%- endif -%}
                  </a>
                </div>
              </div>
              {%- endif -%}
              <div class="col p-0i">
                <div class="title_sticky _mt-2 _mb-2 _mt-md-1 _mb-md-1">
                  <p class="m-0">{{product.title}}</p>                  
                  {%- render 'product-single-prices', current_variant: current_variant -%}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 text-right btns-group{%if settings.show_sticky_quantiny%}{%unless product.metafields.purchase.on_link != blank %} hasqty{%endunless%}{%endif%} _pt-1 _pt-sm-0">
            <div class="row gx-0 justify-content-end">
              {%- unless product.metafields.purchase.on_link != blank %}
              <div class="quantity js-product-form__item--quantity{% if preOrder == false and sold_out or settings.show_sticky_quantiny == false %} d-none{% endif %} col-auto">
                <div class="control">
                  <a class="btn-number qtyminus" href="#"></a>
                  <input type="text" data-step="1" name="quantity" data-min="1" value="1" class="input-qty input-text qty text rounded" size="4" pattern="[0-9]*">
                  <input type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}">
                  <a class="btn-number qtyplus" href="#"></a>
                </div>
              </div> 
              {%- endunless -%}
              <div class="col-auto btns-wrapper position-relative{% unless preOrder == false and sold_out or settings.show_sticky_quantiny == false %} pl-0{% endunless %} _pl-md-1">
                {%- capture cssbtn -%}btn {{section.settings.atc_btn}} {{section.settings.atc_btn_rounded}}{% if section.settings.atc_btn_shadow%} btn-shadow{%endif%}{%if section.settings.atc_btn_ani%} animated infinite heartBeat{%endif%}{%- endcapture -%}
                {%- if settings.sticky_style == 'darken' -%}
                {%- capture cssbtn -%}btn btn-white {{section.settings.atc_btn_rounded}}{% if section.settings.atc_btn_shadow%} btn-shadow{%endif%}{%if section.settings.atc_btn_ani%} animated infinite heartBeat{%endif%}{%- endcapture -%}
                {%- endif -%}
              {%- if product.metafields.purchase.on_link != blank %}
                <a href="{{product.metafields.purchase.on_link | split: ']' | last }}" class="{{cssbtn}} single_add_to_cart_button out_site">
                  <span>{{product.metafields.purchase.on_link | split: "]" | first | remove: "["}}</span>
                </a>
              {%- elsif product.has_only_default_variant or product.variants.size == 1 -%}
                {% render 'kt_button_no_variant', preOrder: preOrder, sold_out: sold_out, style_btn: cssbtn %}
              {%- else -%}
                {% render 'kt_button_has_variant', preOrder: preOrder, sold_out: sold_out, style_btn: cssbtn, position_btn: 'sticky_add_cart' %}
                <button type="button" class="position-absolute toggle"></button>
              {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{%-endif-%}
{%- if section.settings.use_ask -%}
<section id="askModal" class="modal fade" aria-hidden="false" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header _p-2 _py-1i">
        <h3 class="modal-title h5 _mb-0i">{{'products.ask_about.name_button' | t}}</h3>
        <button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body _p-2">
        <div class="content-item">
          <p>{{'products.ask_about.title_popup' | t}}</p>
          <div class="ask-layout-product">
            <div class="contact-form form-default">
              {%- form 'contact', id: 'ask-form', class: 'contact-form' -%}
              {% render 'form-status', form: form, form_id: formId %}
              <input type="hidden" name="contact[product name]" value="{{product.title | escape}}" class="form-control">
              <input type="hidden" name="contact[product link]" value="{{canonical_url}}" class="form-control">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea name="contact[body]" class="form-control" rows="8" placeholder="{{'products.ask_about.your_message' | t}}" required=""></textarea>
                  </div>
                  <div class="form-group">
                    <input type="text" name="contact[name]" value="" class="form-control" placeholder="{{'products.ask_about.your_name' | t}}" required="">
                  </div>
                  <div class="form-group">
                    <input type="email" name="contact[email]" autocorrect="off" autocapitalize="off" value="" class="form-control" placeholder="{{'products.ask_about.your_email' | t}}" required="">
                  </div>
                  <div class="form-group">
                    <input type="tel" name="contact[phone]" pattern="[0-9\-]*" value="" class="form-control" placeholder="{{'products.ask_about.your_phone' | t}}" required="">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-rounded">{{'products.ask_about.button' | t}}</button>
              {%-endform-%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%-endif-%}
{%- if section.settings.use_wide -%}
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" style="display: none"><div class="pswp__bg"></div><div class="pswp__scroll-wrap"><div class="pswp__container"><div class="pswp__item"></div><div class="pswp__item"></div><div class="pswp__item"></div></div><div class="pswp__ui pswp__ui--hidden"><div class="pswp__top-bar"><div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button><div class="pswp__preloader"><div class="pswp__preloader__icn"><div class="pswp__preloader__cut"><div class="pswp__preloader__donut"></div></div></div></div></div><div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"><div class="pswp__share-tooltip"></div></div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button><div class="pswp__caption"><div class="pswp__caption__center"></div></div></div></div></div>
{%- endif -%}
{% schema %}
  {
    "name": "Product (Flexible)",
    "settings": [
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "radio",
        "id": "width_section",
        "label": "Max width section?",
        "options": [
          {
            "value": "container",
            "label": "1200px"
          },
          {
            "value": "container-fluid wide",
            "label": "Wide"
          },
          {
            "value": "w-100",
            "label": "Full width"
          }
        ],
        "default": "w-100",
        "info": "Note: [Description full width](https:\/\/cdn.shopify.com\/s\/files\/1\/0264\/6972\/8316\/files\/Description_fullwitdh_settings.png?42564) + [Example](https:\/\/codepen.io\/kiti\/pen\/qBdoMXa?editors=1000)"
      },
      {
        "type": "checkbox",
        "id": "width_content",
        "label": "Max width content?",
        "default": true
      },
      {
        "type": "radio",
        "id": "img_type_prd_single",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "nonstretch",
            "label": "Non stretch image"
          },
          {
            "value": "stretch",
            "label": "Stretch image"
          }
        ],
        "label": "Image type"
      },
      {
        "type": "checkbox",
        "id": "use_thumb",
        "label": "Use thumbnail?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_thumb_vertical",
        "label": "Vertical thumbnail?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_thumb_hidden_on_mb",
        "label": "Hidden thumbnail on mobile."
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "checkbox",
        "id": "show_shortdes",
        "label": "Show short description.",
        "default": true
      },
      {
        "type": "select",
        "id": "shortdes_type",
        "label": "Shortdes type",
        "options": [
          {
            "value": "short",
            "label": "Short description"
          },
          {
            "value": "full",
            "label": "Full description"
          }
        ],
        "default": "short"
      },
      {
        "type": "header",
        "content": "Function"
      },
      {
        "type": "checkbox",
        "id": "gallery",
        "label": "Variant gallery images?"
      },
      {
        "type": "checkbox",
        "id": "use_zoom",
        "label": "Photo zoom?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_wide",
        "label": "Photo wide popup?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_ask",
        "label": "Ask about this product?"
      },
      {
        "type": "checkbox",
        "id": "use_notify_onavai",
        "label": "Notify when product on available?",
        "default": true
      },
      {
        "type":"checkbox",
        "id": "use_d_c_b",
        "label": "Use dynamic checkout button?",
        "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/online-store/themes/dynamic-checkout)"
      },
      {
        "type": "header",
        "content": "ADD TO CART button"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_add_to_cart_btn",
        "label": "Show Add to cart button.",
        "default": true
      },
      {
        "type": "select",
        "id": "atc_btn",
        "label": "Button style.",
        "default": "btn-primary",
        "options": [
          {
            "value": "btn-primary",
            "label": "Primary default",
            "group": "Primary"
          },
          {
            "value": "btn-primary btn-outline",
            "label": "Primary outline",
            "group": "Primary"
          },
          {
            "value": "btn-secondary",
            "label": "Secondary default",
            "group": "Secondary"
          },
          {
            "value": "btn-secondary btn-outline",
            "label": "Secondary outline",
            "group": "Secondary"
          },
          {
            "value": "btn-white",
            "label": "White default",
            "group": "White"
          },
          {
            "value": "btn-white btn-outline",
            "label": "White outline",
            "group": "White"
          },
          {
            "value": "btn-dark",
            "label": "Dark default",
            "group": "Dark"
          },
          {
            "value": "btn-dark btn-outline",
            "label": "Dark outline",
            "group": "Dark"
          },
          {
            "value": "btn-underline btn-link",
            "label": "Underline dark",
            "group": "Underline"
          },
          {
            "value": "btn-underline btn-white btn-link",
            "label": "Underline white",
            "group": "Underline"
          }
        ]
      },
      {
        "type": "select",
        "id": "atc_btn_rounded",
        "label": "Button style radius.",
        "options": [
          {
            "value": "",
            "label": "Square"
          },
          {
            "value": "btn-rounded",
            "label": "Rounded Corners"
          },
          {
            "value": "btn-round",
            "label": "Rounded"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "atc_btn_shadow",
        "label": "Use shadow for button?"
      },
      {
        "type": "checkbox",
        "id": "atc_btn_big",
        "label": "Use big button?"
      },
      {
        "type": "checkbox",
        "id": "atc_btn_ani",
        "label": "Use animate?"
      },
      {
        "type": "header",
        "content": "Product tabs"
      },
      {
        "type": "select",
        "id": "layout_tabs",
        "label": "Layout",
        // "info": "Product layout 3, 4, 5, 6, 7 cannot be changed.",
        "options": [
          {
            "value": "0",
            "label": "Normal"
          },
          {
            "value": "1",
            "label": "Layout 1(Tab list Horizontal)"
          },
          {
            "value": "2",
            "label": "Layout 2(Tab list Horizontal)"
          },
          {
            "value": "3",
            "label": "Layout 3(Accordions)"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "ct_custom",
        "name": "Content Custom HTML",
        "settings": [
          { 
            "type":"textarea",
            "id":"text",
            "label":"HTML"
          },
          { 
            "type":"page",
            "id":"page",
            "label":"Page HTML"
          }
        ]
      },
      {
        "type": "ct_custom_lq",
        "name": "Content Custom Liquid",
        "settings": [
          { 
            "type":"liquid",
            "id":"text",
            "label":"HTML"
          }
        ]
      },
      {
        "type": "tb_description",
        "name": "Tab description",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tab",
            "label": "Show Tab",
            "default": true
          },
          {
            "type": "text",
            "id": "tab_title",
            "label": "Tab Tilte",
            "default": "Description"
          },
          {
            "type": "radio",
            "id": "tab_width",
            "label": "Max width tab",
            "options": [
              { "value": "container", "label": "1200px" },
              { "value": "container-fluid wide", "label": "Wide" },
              { "value": "w-100", "label": "Full width" }
            ],
            "default": "container",
            "info": "Note: [Description full width](https:\/\/cdn.shopify.com\/s\/files\/1\/0264\/6972\/8316\/files\/Description_fullwitdh_settings.png?42564) + [Example](https:\/\/codepen.io\/kiti\/pen\/qBdoMXa?editors=1000)"
          }
        ]
      },
      {
        "type": "tb_details",
        "name": "Tab details",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tab",
            "label": "Show Tab",
            "default": true
          },
          {
            "type": "text",
            "id": "tab_title",
            "label": "Tab Tilte",
            "default": "Additional information"
          },
          {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "Show vendor",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_type",
            "label": "Show type",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_sku",
            "label": "Show SKU",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_weight",
            "label": "Show weight",
            "default": true
          }
        ]
      },
      {
        "type": "tb_shipping",
        "name": "Tab Shipping & Returns",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tab",
            "label": "Show Tab",
            "default": true
          },
          {
            "type": "text",
            "id": "tab_title",
            "label": "Tab Tilte",
            "default": "Shipping & Returns"
          },
          {
            "type": "checkbox",
            "id": "use_delivery_time",
            "label": "(Upsell) Use Delivery time?",
            "default": true,
            "info": "Config: Theme settings > (Upsell) Delivery time"
          }
        ]
      },
      {
        "type": "tb_review",
        "name": "Tab review",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tab",
            "label": "Show Tab",
            "default": true
          },
          {
            "type": "text",
            "id": "tab_title",
            "label": "Tab Tilte",
            "default": "Review(s)"
          }
        ]
      },
      {
        "type": "tb_customize",
        "name": "Tab Customize",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tab",
            "label": "Show Tab",
            "default": true
          },
          {
            "type": "text",
            "id": "tab_title",
            "label": "Tab Tilte",
            "default": "Why buy from us?"
          },
          {
            "type": "page",
            "id": "tab_page_html",
            "label": "Choose page"
          },
          {
            "type": "liquid",
            "id": "tab_html",
            "label": "Content tab",
            "default": "<li><a href=\"#\">10 years guarantee</a></li><li>Identical to the originals</li><li><a href=\"#\">High-quality materials</a></li><li>+300.000 happy customers</li><li><a href=\"#\">100% legal</a></li>"
          }
        ]
      },
      {
        "type": "tb_unique",
        "name": "Tab Unique",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tab",
            "label": "Show Tab",
            "default": true
          },
          {
            "type": "text",
            "id": "tab_title",
            "label": "Tab Tilte",
            "default": "Tab Unique"
          },
          {
            "type": "liquid",
            "id": "tab_key",
            "label": "Key",
            "info": "[Tutorial:](https://support.the4.co/)"
          }
        ]
      }
    ]
  }
{% endschema %}