<!-- rd_brand_1.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-render 'sc_css'-%}
<div class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}" data-section-id="{{ section.id }}" id="Swiper-{{ section.id }}" data-section-type="swiper-section">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">
    <div class="section-width {{width_content_}}">
      {%- if section.settings.border_top -%}<div class="w-100 border-top _mb-2" style="border-top-color: {{section.settings.border_color}} !important"></div>{%- endif -%}
      {%- assign block = section.blocks | where: 'type', 'title' | first -%}
      {%- render 'kt_sc_title', block: block, attr: true -%}
      {%- assign responsive_ = section.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
      {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
      {%- assign blockBrand = section.blocks | where: 'type', 'item' -%}
      <div class="swiper-fuild position-relative {{section.settings.nav_position}} nav-style{{section.settings.nav_style}} nav-mode-{{section.settings.nav_mode}}">
        <div class="swiper brands-slide style-{{section.settings.brand_style}}" data-breakpoints='{{responsive_}}' data-autoplay="{{section.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{section.settings.use_dots}}" data-nav="{{section.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{section.id}}" data-next-el=".sw-btn-next-{{section.id}}" data-pagination=".swiper-pagination-{{section.id}}">
          <div class="swiper-wrapper">
          {%- for block in blockBrand-%}
            <div class="swiper-slide image__brand" {{ block.shopify_attributes }}>
              {%- if forloop.first -%}
              {%- assign width = block.settings.image.width | default: 180.00 -%}{%- assign height = block.settings.image.height | default: 100.00 | plus: 0.00 -%}
              {%- endif -%}
              <a href="{{ block.settings.brand_call_to_action | default: routes.root_url }}" class="icon__brand" style="padding-bottom: {{height | divided_by: width | times: 100.00000000}}%;">
                {%- if block.settings.image -%}
                {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: class: 'img-fit-cover', alt: block.settings.image.alt, size: '100vw', widths: '180, 240, 320', loading: 'lazy' }}
                {%- endif -%}
              </a>
                {%-comment-%}
              <a class="icon__brand" href="{{ block.settings.brand_call_to_action | default: routes.root_url }}" aria-label="{{ block.settings.image.alt | default: shop.name | escape }}">
                {%if block.settings.image%}
                {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: class: '', alt: block.settings.image.alt, size: '100vw', widths: '180, 240, 320', loading: 'lazy' -}}
                {%- endif -%}
                {%- assign bground = settings.color_pt_bground | replace: '#', '%23' -%}
                {%- assign width = block.settings.image.width | default: 180.00 -%}{%- assign height = block.settings.image.height | default: 100.00 | plus: 0.00 -%}
                {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img width="{{width}}" height="{{height}}"{%if block.settings.image%} class="lazyload" data-src="{{ img_url }}" data-widths="[160, 240, 320]" data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.image.alt | escape }}"{%endif%} src='data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="{{width}}" height="{{height}}" viewBox="0 0 100% 100%"><rect style="fill:transparent" width="100%" height="100%"/></svg>'>
              </a>
                {%-endcomment-%}
            </div>
          {%- endfor -%}
          </div>
          {%- if section.settings.use_dots -%}
          <div class="swiper-pagination swiper-pagination-{{section.settings.dots_mode}} swiper-pagination-{{section.settings.dots_position}} swiper-pagination-{{section.id}}"></div>
          {%- endif -%}
        </div>
        {%- if section.settings.use_navigation -%}
        <div class="swiper-buttons position-absolute"{% if section.settings.nav_position == 'nav-top-right' or section.settings.nav_position == 'nav-top-left' %} style="margin-top: -2.875rem" {%endif%}>
          <div class="content-buttons position-relative">
            <div class="swiper-button-prev sw-btn-prev-{{section.id}}"></div>
            <div class="swiper-button-next sw-btn-next-{{section.id}}"></div>
          </div>
        </div>
        {%- endif -%}
      </div>
      {%- if section.settings.border_bottom -%}<div class="w-100 border-bottom _mt-2" style="border-bottom-color: {{section.settings.border_color}} !important"></div>{%- endif -%}
    </div>
  </div>
</div>
{%- if section.settings.css != blank -%}
{%- style-%}
{%- assign section_id = 'content_' | append: section.id -%}
{{- section.settings.css | replace: 'section_id', section_id -}}
{%- endstyle-%}
{%- endif -%}
{% schema %}
  {
    "name": "Brands logo",
    "class": "rd_brand",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Brands",
        "info": "Name section (in editor bar)"
      },
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section?",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?",
        "default": true
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "25px|30px|35px|40px|45px|50px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "25px|30px|35px|40px|45px|50px"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "60px 60px 0 60px"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color_background",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      },
      {
        "type": "checkbox",
        "id": "border_top",
        "label": "Use border top",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "border_bottom",
        "label": "Use border bottom"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border color",
        "default": "#ebebeb"
      },
      {
        "type": "header",
        "content": "Slide settings"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "__Auto-rotate slides",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_navigation",
        "label": "__Use navigation?",
        "default": true
      },
      {
        "type": "select",
        "id": "nav_style",
        "options": [
          {
            "value": "-default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Style 1"
          },
          {
            "value": "2",
            "label": "Style 2"
          }
        ],
        "label": "Navigation style",
        "default": "-default"
      },
      {
        "type": "select",
        "id": "nav_mode",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "primary",
            "label": "Primary color"
          }
        ],
        "label": "Navigation mode",
        "default": "default"
      },
      {
        "type": "select",
        "id": "nav_position",
        "options": [
          {
            "value": "nav-default",
            "label": "Default"
          },
          {
            "value": "nav-center-center",
            "label": "Center center"
          },
          {
            "value": "nav-center-outside",
            "label": "Center outside"
          },
          {
            "value": "nav-top-right",
            "label": "Top right"
          },
          {
            "value": "nav-top-left",
            "label": "Top left"
          }
        ],
        "label": "Navigation position",
        "default": "nav-default"
      },
      {
        "type": "checkbox",
        "id": "use_dots",
        "label": "__Use dots?"
      },
      {
        "type": "select",
        "id": "dots_mode",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "primary",
            "label": "Primary color"
          }
        ],
        "label": "Dots mode",
        "default": "default"
      },
      {
        "type": "select",
        "id": "dots_position",
        "options": [
          {
            "value": "inside",
            "label": "Inside"
          },
          {
            "value": "outside",
            "label": "Outside"
          }
        ],
        "label": "Dots position",
        "default": "inside"
      },
      {
        "type": "liquid",
        "id": "responsive",
        "label": "== Responsive",
        "default": "{\n  \"0\": {\n    \"slidesPerView\": 2,\n    \"spaceBetween\": 0\n  },\n  \"480\": {\n    \"slidesPerView\": 3,\n    \"spaceBetween\": 0\n  },\n  \"768\": {\n    \"slidesPerView\": 4,\n    \"spaceBetween\": 0\n  },\n  \"992\": {\n    \"slidesPerView\": 5,\n    \"spaceBetween\": 0\n  },\n  \"1200\": {\n    \"slidesPerView\": 7,\n    \"spaceBetween\": 0\n  }\n}"
      },
      {
        "type": "header",
        "content": "Custom CSS"
      },
      {
        "type": "html",
        "id": "css",
        "label": "Css for section",
        "info": "Key start: .section_id"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Item title",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "title_style",
            "options": [
              {
                "value": "auto",
                "label": "Auto",
                "group": "Simple"
              },
              {
                "value": "center",
                "label": "Center",
                "group": "Simple"
              },
              {
                "value": "cross",
                "label": "Auto",
                "group": "Cross"
              },
              {
                "value": "center-cross",
                "label": "Center",
                "group": "Cross"
              },
              {
                "value": "custom-cross",
                "label": "Custom",
                "group": "Cross"
              },
              {
                "value": "underline",
                "label": "Simple",
                "group": "Underline"
              },
              {
                "value": "active-underline",
                "label": "Active",
                "group": "Underline"
              },
              {
                "value": "custom-underline",
                "label": "Custom",
                "group": "Underline"
              }
            ],
            "label": "Title Styles",
            "default": "auto"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "stitle",
            "label": "Sub title"
          },
          {
            "type": "url",
            "id": "link_to",
            "label": "Link to"
          },
          {
            "type": "textarea",
            "id": "name_link",
            "label": "Name link"
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 0,
            "max": 90,
            "step": 2,
            "unit": "px",
            "label": "Margin bottom of title",
            "default": 30
          }
        ]
      },
      {
        "type": "item",
        "name": "Item brand",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Brand image",
            "info": "Size suggestion: 150 x 130 pixels"
          },
          {
            "id": "brand_call_to_action",
            "type": "url",
            "label": "Brand link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brands Logo",
        "category": "04. Section",
        "blocks": [
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}