<!-- rd_prds_sc_tab_slide.liquid -->
{%- if template.name != 'collection' -%}
{%- liquid
  capture st_card
    echo settings.use_new_label
    echo '|'
    echo settings.new_day
    echo '|'
    echo settings.use_sale_label
    echo '|'
    echo settings.product_grid_layout
    echo '|'
    echo settings.qs_show_vars_list
    echo '|'
    echo settings.use_quickview
    echo '|'
    echo settings.use_wishlist
    echo '|'
    echo settings.use_compare
    echo '|'
    echo settings.use_countdown_grid
    echo '|'
    echo settings.countdown_grid_style
    echo '|'
    echo settings.use_vendor_grid
    echo '|'
    echo settings.use_review_grid
    echo '|'
    echo settings.use_add_to_cart_btn
    echo '|'
    echo settings.qs_hide_only_1_opt
  endcapture
  assign st_card = st_card | split: '|'  
  
  assign grid_ly = section.settings.product_grid_layout | default: st_card[3]

  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-render 'sc_css' -%}
<div data-section-id="{{ section.id }}" id="Swiper-{{ section.id }}" data-section-type="swiper-section" class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}" data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">
  {%-for block in section.blocks-%}
  {%- assign pos_block = forloop.index0 -%}
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} {{ block.shopify_attributes }}>      
    <div class="section-width {{width_content_}}" style="--gutter-y: {{block.settings.range_row}}px">
      {%- render 'kt_sc_title' with block as block-%}
      <div class="tab tab-nav-simple tab-product tab-list-ajax{%if block.settings.title == blank and block.settings.stitle == blank%} none-big-title{%endif%}">
        <div class="d-flex justify-content-{% if block.settings.title_align == 'text-center' %}center{% else %}start{% endif %}"{%if block.settings.title == blank or block.settings.stitle == blank%} style="margin-bottom:{{block.settings.margin_btitle}}px"{%endif%}>
          <div class="overflow-scroll-wrapper">
            <ul class="nav nav-tabs" role="tablist">
            {%- for collection in block.settings.collection_list -%}
              {%-assign block_id = block.id | append: forloop.index-%}
              <li class="nav-item" role="presentation">
                <button class="nav-link{% if forloop.first %} active{% endif %} {{block.settings.t_tranform}}" data-bs-toggle="tab" data-bs-target="#tab-{{block_id}}" type="button" role="tab" aria-controls="" aria-selected="{%- if forloop.first -%}true{%- else -%}false{%- endif -%}" style="font-size: {{block.settings.fsize_name_tab | divided_by: 16.00}}rem">{{collection.title | escape}}</button>
              </li>
            {%-else-%}
              {%- for i in (1..5) -%}
                <li class="nav-item" role="presentation">
                  <button class="nav-link{% if forloop.first %} active{% endif %} {{block.settings.t_tranform}}" data-bs-toggle="tab" data-bs-target="#tab-{{i}}" type="button" role="tab" aria-controls="" aria-selected="{%- if forloop.first -%}true{%- else -%}false{%- endif -%}" style="font-size: {{block.settings.fsize_name_tab | divided_by: 16.00}}rem">Tab-{{forloop.index}}</button>
                </li>
              {%- endfor -%}
            {%-endfor-%}
            </ul>
          </div>
        </div>
        <div class="tab-content">
        {%- assign responsive_ = block.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
        {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
        {%- for collection in block.settings.collection_list -%}
          {%-assign block_id = block.id | append: forloop.index-%}
          {%-assign pos_tab = forloop.index-%}
          <div id="tab-{{block_id}}" class="tab-pane fade{% if forloop.first %} show active{% endif %}" role="tabpanel">
            <div class="swiper-fuild position-relative {{block.settings.nav_position}} nav-style{{block.settings.nav_style}} nav-mode-{{block.settings.nav_mode}}">
              <div class="product-list-grid p-style-{{grid_ly}} swiper swiper-fshadow" data-breakpoints='{{responsive_}}' data-autoplay="{{block.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{block.settings.use_dots}}" data-nav="{{block.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{block_id}}" data-next-el=".sw-btn-next-{{block_id}}" data-pagination=".swiper-pagination-{{block_id}}"{% if section.settings.use_lazyload %} data-observer="true"{% endif %}>
                <div class="swiper-wrapper{% if section.settings.use_lazyload and collection.title != blank %} lazyload loadvariant{% endif %}" data-include="{{collection.url}}/?section_id={{section.id}}&q={{pos_block}}+{{pos_tab}}">
                  {%-if section.settings.use_lazyload-%}
                    {%-for i in (1..block.settings.limit)-%}
                    <div class="swiper-slide grid-item"><div class="animated-background aspectRatio mb-2"></div><div class="animated-background box-line-sm"></div><div class="animated-background box-line-xs mb-3i"></div></div>
                    {%-endfor-%}
                  {%-else-%}
                  {%-for product in collection.products limit: block.settings.limit-%}
                  <div class="swiper-slide grid-item">
                    {%- render "product-grid-item", product: product, grid_layout: grid_ly, st_card: st_card -%}
                  </div>
                  {%-endfor-%}
                  {%-endif-%}
                </div>
                {%- if block.settings.use_dots -%}
                <div class="swiper-pagination swiper-pagination-{{block.settings.dots_mode}} swiper-pagination-{{block.settings.dots_position}} swiper-pagination-{{block_id}}"></div>
                {%- endif -%}
              </div>
              {%- if block.settings.use_navigation -%}
              <div class="swiper-buttons position-absolute"{% if block.settings.nav_position == 'nav-top-right' or block.settings.nav_position == 'nav-top-left' %} style="margin-top: -2.875rem" {%endif%}>
                <div class="content-buttons position-relative">
                  <div class="swiper-button-prev sw-btn-prev-{{block_id}}"></div>
                  <div class="swiper-button-next sw-btn-next-{{block_id}}"></div>
                </div>
              </div>
              {%- endif -%}
            </div>
            {%- if collection.title != blank and collection.all_products_count > block.settings.limit and block.settings.load_btn -%}
            <div class="col-lg-12 p-0 _mt-3 {{block.settings.title_align}}">
              <a class="btn {{block.settings.style_btn}} {{block.settings.style_btn_rounded}}{%if block.settings.btn_shadow%} btn-shadow{%endif%} button-more" href="{{collection.url}}">{{block.settings.name_btn}}</a>
            </div>
            {%- endif -%}
          </div>
        {%-else-%}          
          {%- for i in (1..5) -%}
            {%- assign products = 'products_' | append: i-%}
            {%- assign block_id = block.id | append: i-%}
            {%- assign pos_tab = forloop.index-%}
            <div id="tab-{{block_id}}" class="tab-pane fade{% if forloop.first %} show active{% endif %}" role="tabpanel">
              <div class="swiper-fuild position-relative {{block.settings.nav_position}} nav-style{{block.settings.nav_style}} nav-mode-{{block.settings.nav_mode}}">
                <div class="product-list-grid p-style-{{grid_ly}} swiper swiper-fshadow" data-breakpoints='{{responsive_}}' data-autoplay="{{block.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{block.settings.use_dots}}" data-nav="{{block.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{block_id}}" data-next-el=".sw-btn-next-{{block_id}}" data-pagination=".swiper-pagination-{{block_id}}">
                  <div class="swiper-wrapper">
                    {%-for i in (1..block.settings.limit)-%}
                    <div class="swiper-slide grid-item"><div class="animated-background aspectRatio mb-2"></div><div class="animated-background box-line-sm"></div><div class="animated-background box-line-xs mb-3i"></div></div>
                    {%-endfor-%}
                  </div>                  
                  {%- if block.settings.use_dots -%}
                  <div class="swiper-pagination swiper-pagination-{{block.settings.dots_mode}} swiper-pagination-{{block.settings.dots_position}} swiper-pagination-{{block_id}}"></div>
                  {%- endif -%}
                </div>
              </div>
              {%- if block.settings.use_navigation -%}
              <div class="swiper-buttons position-absolute"{% if block.settings.nav_position == 'nav-top-right' or block.settings.nav_position == 'nav-top-left' %} style="margin-top: -2.875rem" {%endif%}>
                <div class="content-buttons position-relative">
                  <div class="swiper-button-prev sw-btn-prev-{{block_id}}"></div>
                  <div class="swiper-button-next sw-btn-next-{{block_id}}"></div>
                </div>
              </div>
              {%- endif -%}
              {%- if block.settings.load_btn -%}
              <div class="col-lg-12 p-0 _mt-3 {{block.settings.title_align}}">
                <a class="btn {{block.settings.style_btn}} {{block.settings.style_btn_rounded}}{%if block.settings.btn_shadow%} btn-shadow{%endif%} button-more" href="#">{{block.settings.name_btn}}</a>
              </div>
              {%- endif -%}
            </div>
          {%-endfor-%}
        {%-endfor-%}
        </div>
      </div>
    </div>
  </div>
  {%- endfor-%}
</div>
{%- else -%}
<!--lz_sc-->
{%- liquid
  capture st_card
    echo settings.use_new_label
    echo '|'
    echo settings.new_day
    echo '|'
    echo settings.use_sale_label
    echo '|'
    echo settings.product_grid_layout
    echo '|'
    echo settings.qs_show_vars_list
    echo '|'
    echo settings.use_quickview
    echo '|'
    echo settings.use_wishlist
    echo '|'
    echo settings.use_compare
    echo '|'
    echo settings.use_countdown_grid
    echo '|'
    echo settings.countdown_grid_style
    echo '|'
    echo settings.use_vendor_grid
    echo '|'
    echo settings.use_review_grid
    echo '|'
    echo settings.use_add_to_cart_btn
    echo '|'
    echo settings.qs_hide_only_1_opt
  endcapture
  assign st_card = st_card | split: '|'
  
  assign grid_ly = section.settings.product_grid_layout | default: st_card[3]
-%}
  {%- assign q = canonical_url | split: 'q=' | last | split: '+' -%}
  {%- assign q0 = q[0] | plus: 0 -%}
  {%- assign block = section.blocks[q0] -%}
  {%- assign i = q[1] | plus: 0 -%}
  {%- for collection in block.settings.collection_list -%}
    {%- if forloop.index == i -%}
      {%-assign collection = collection-%}
    {%- endif -%}
  {%-endfor-%}
  {%-for product in collection.products limit: block.settings.limit-%}
  <div class="swiper-slide grid-item">
    {%- render "product-grid-item", product: product, grid_layout: grid_ly, st_card: st_card -%}
  </div>
  {%- endfor -%}
<!--lz_sc-->
{%- endif -%}

{% schema %}
  {
    "name": "Products tab(slide)",
    "class": "rd_prds_sc rd_prds_sc_tab_slide",
    "settings": [
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Products tab(grid)",
        "info": "Name section (in editor bar)"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "25px|30px|35px|40px|45px|50px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "25px|30px|35px|40px|45px|50px"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "60px 60px 0 60px"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color_background",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type":"checkbox",
        "id": "use_lazyload",
        "label": "Use lazyload?",
        "info": "Help speed up page loading."
      },
      {
        "type":"checkbox",
        "id": "use_nospace",
        "label": "No space?",
        "info": "The product cards will be close together."
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "header",
            "content": "Section title"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "stitle",
            "label": "Sub title"
          },
          {
            "type": "select",
            "id": "title_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align title",
            "default": "text-center"
          },
          {
            "type": "select",
            "id": "t_tranform",
            "options": [
              {
                "value": "text-uppercase",
                "label": "Uppercase"
              },
              {
                "value": "text-capitalize",
                "label": "Capitalize"
              },
              {
                "value": "",
                "label": "None"
              }
            ],
            "label": "Text tranform (name tab)",
            "default": "text-uppercase"
          },
          {
            "type": "range",
            "id": "fsize_name_tab",
            "label": "Font size name tab",
            "min": 14,
            "max": 26,
            "step": 1,
            "unit": "px",
            "default": 14
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 0,
            "max": 90,
            "step": 2,
            "unit": "px",
            "label": "Margin bottom of title",
            "default": 30
          },
          {
            "type": "header",
            "content": "Tabs setting"
          },
          {
            "type": "collection_list",
            "id": "collection_list",
            "label": "Choose collections",
            "limit": 8
          },
          {
            "type": "range",
            "id": "limit",
            "min": 1,
            "max": 50,
            "step": 1,
            "label": "Limit display product",
            "default": 8
          },
          {
            "type": "header",
            "content": "Button loadmore"
          },
          {
            "type": "checkbox",
            "id": "load_btn",
            "label": "Use load button?",
            "default": false
          },
          {
            "type":"text",
            "id":"name_btn",
            "label": "Name button",
            "default":"VIEW MORE<i class=\"d-icon-arrow-right\" aria-hidden=\"true\"><\/i>"
          },
          {
            "type": "select",
            "id": "style_btn",
            "label": "Button Style",
            "default": "btn-dark btn-outline",
            "options": [
              {
                "value": "btn-primary",
                "label": "Primary default",
                "group": "Primary"
              },
              {
                "value": "btn-primary btn-outline",
                "label": "Primary outline",
                "group": "Primary"
              },
              {
                "value": "btn-secondary",
                "label": "Secondary default",
                "group": "Secondary"
              },
              {
                "value": "btn-secondary btn-outline",
                "label": "Secondary outline",
                "group": "Secondary"
              },
              {
                "value": "btn-white",
                "label": "White default",
                "group": "White"
              },
              {
                "value": "btn-white btn-outline",
                "label": "White outline",
                "group": "White"
              },
              {
                "value": "btn-dark",
                "label": "Dark default",
                "group": "Dark"
              },
              {
                "value": "btn-dark btn-outline",
                "label": "Dark outline",
                "group": "Dark"
              },
              {
                "value": "btn-underline btn-link",
                "label": "Underline dark",
                "group": "Underline"
              },
              {
                "value": "btn-underline btn-white btn-link",
                "label": "Underline white",
                "group": "Underline"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded",
            "label": "Button style radius",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow",
            "label": "Use shadow for button?"
          },
          {
            "type": "header",
            "content": "Slide settings"
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "__Auto-rotate slides",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "use_navigation",
            "label": "__Use navigation?",
            "default": true
          },
          {
            "type": "select",
            "id": "nav_style",
            "options": [
              {
                "value": "-default",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Style 1"
              },
              {
                "value": "2",
                "label": "Style 2"
              },
              {
                "value": "3",
                "label": "Style 3"
              }
            ],
            "label": "Navigation style",
            "default": "-default"
          },
          {
            "type": "select",
            "id": "nav_mode",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "primary",
                "label": "Primary color"
              }
            ],
            "label": "Navigation mode",
            "default": "default"
          },
          {
            "type": "select",
            "id": "nav_position",
            "options": [
              {
                "value": "nav-default",
                "label": "Default"
              },
              {
                "value": "nav-center-center",
                "label": "Center center"
              },
              {
                "value": "nav-center-outside",
                "label": "Center outside"
              },
              {
                "value": "nav-top-right",
                "label": "Top right"
              },
              {
                "value": "nav-top-left",
                "label": "Top left"
              }
            ],
            "label": "Navigation position",
            "default": "nav-default"
          },
          {
            "type": "checkbox",
            "id": "use_dots",
            "label": "__Use dots?"
          },
          {
            "type": "select",
            "id": "dots_mode",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "primary",
                "label": "Primary color"
              }
            ],
            "label": "Dots mode",
            "default": "default"
          },
          {
            "type": "select",
            "id": "dots_position",
            "options": [
              {
                "value": "inside",
                "label": "Inside"
              },
              {
                "value": "outside",
                "label": "Outside"
              }
            ],
            "label": "Dots position",
            "default": "inside"
          },
          {
            "type": "liquid",
            "id": "responsive",
            "label": "Responsive",
            "default": "{\n  \"0\": {\n    \"slidesPerView\": 2,\n    \"spaceBetween\": 10\n  },\n  \"480\": {\n    \"slidesPerView\": 2,\n    \"spaceBetween\": 10\n  },\n  \"768\": {\n    \"slidesPerView\": 3,\n    \"spaceBetween\": 20\n  },\n  \"992\": {\n    \"slidesPerView\": 4,\n    \"spaceBetween\": 20\n  },\n  \"1200\": {\n    \"slidesPerView\": 4,\n    \"spaceBetween\": 20\n  }\n}"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Products tab slide(grid)",
        "category": "03. Section products",
        "blocks": [
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}